[2016-11-18 19:21] mattbk commented on #4196
Based on some discussion at http://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses, it looks like 401 should be returned if you are not logged in and are trying to access a page you need to be logged in to see, regardless of whether you have privileges to see it or not as an authenticated user. This is what @whit537 notes at the beginning of this issue.

[2016-11-20 04:37] rohitpaulk opened #4198 "19th November Downtime"
Gratipay was down for about an hour (1800 - 1900 19th November) - the request throughput shot up just before this happened.

Screenshots from Heroku:

<img width="1231" alt="screen shot 2016-11-20 at 10 06 22 am" src="https://cloud.githubusercontent.com/assets/3893573/20460459/113097c2-af09-11e6-8f7f-3ac0b274f97a.png">

[2016-11-21 02:04] whit537 commented on #4198
Did you do something to bring it back up? I noticed the notifications soon after but when I checked it was back up.

[2016-11-21 02:39] rohitpaulk commented on #4198
Nope, I didn't do anything - I only saw the notifications around 6 hours later

[2016-11-21 02:50] whit537 commented on #4198
Likely another security researcher. Can we check that in the logs? Is our logging fixed enough to have that available?

[2016-11-21 14:49] #4040 closed

[2016-11-21 16:04] whit537 commented on #557
For the record, the user [turned out](https://github.com/gratipay/inside.gratipay.com/issues/890#issuecomment-261123662) to be a true positive. ;-)

[2016-11-21 19:34] whit537 commented on #4137
+1 in https://gratipay.freshdesk.com/helpdesk/tickets/6190

[2016-11-21 19:49] whit537 commented on #3944
Closing as a duplicate of #3855.

[2016-11-21 19:49] #3944 closed

[2016-11-21 19:49] whit537 commented on #3855
From https://github.com/gratipay/gratipay.com/issues/3944#issuecomment-194381204:

[2016-11-21 21:36] whit537 commented on #557
As discussed at https://github.com/gratipay/gratipay.com/pull/4188#issuecomment-262073906, I like this solution better than the listing of suspicious accounts, because a) it's much less work for those affected to discover that they're affected, and b) it's more respectful of user privacy. A public listing would only seem to make sense if we're trying to warn others about these users or something l

[2016-11-21 21:57] mattbk commented on #557
I'm fine with that, but I think there should be a message (not just a note on the profile) when someone tries to log in and are denied because they're suspicious. My first inkling in such a case would be that the login form is broken, not that I should go look at my own profile page to see what's up.

[2016-11-21 22:01] whit537 opened #4199 "Prompt suspicious users about why they can't login"
Reticketed from #557. When a suspicious tries to login, we deny them (right?). We should tell them that it's because they've been marked suspicious, and then can contact support if they want to.

[2016-11-21 22:01] whit537 commented on #557
Okay. I've rescoped this to be about email notification, and reticketed the login prompt as #4199.

[2016-11-21 22:16] whit537 commented on #3822
We haven't had a `NULL` `route` (at least) since #3810. See https://github.com/gratipay/gratipay.com/pull/3975#issuecomment-262084837.

[2016-11-22 02:33] whit537 commented on #3059
Closing in favor of a generic message when the user logs in (#4199). They can always email us for more info.

[2016-11-22 02:33] #3059 closed

[2016-11-22 03:43] whit537 commented on #731
This is neat, but a minimum order of $250 for 50 is out of our range right now. Let's reopen in the Inside Gratipay repo when there's pressure again.

[2016-11-22 03:43] #731 closed

[2016-11-22 17:20] #4122 closed

[2016-11-23 22:02] whit537 opened #4203 "Retire librato"
Do we need Librato now that we have charts from Heroku? E.g.: https://github.com/gratipay/gratipay.com/issues/4198.

The Heroku logs aren't public-able, are they?

To: metrics-feedback@heroku.com
Subject: public metrics?

[2016-11-25 17:36] whit537 commented on #4148
¯\\\_(ツ)\_/¯

[code]

[2016-11-25 17:38] whit537 commented on #4148
Alright! READMEs initially loaded! 💃

Let's get some pages on the site! #4151

[2016-11-26 16:34] paskalito opened #4207 ""open work" and ngo's"
according to that would u accept common ngo's like greenpeace wwf and amnesty international? // - can i tell them if they like to have money from me they should make a team here?

[2016-11-26 17:11] mattbk commented on #4207
They would probably fit better once we finish the [new TOS](https://github.com/gratipay/gratipay.com/pull/4117), which doesn't require revenue sharing.

[2016-11-27 07:45] nobodxbodon commented on #1133
The page in the last comment seems to be pulled back. I guess the service is still beta. Will it be free for our purpose?

[2016-11-28 16:08] whit537 commented on #1133
Looks like they have a broken redirect on the blog post. Here's the correct link: https://blog.heroku.com/heroku-review-apps-ga.

[2016-11-28 16:10] whit537 commented on #1133
I've updated the link in my comment.

[2016-11-28 21:20] mattbk opened #4208 "Receive or Give widgets on Twitter"
Someone [writes](https://gratipay.freshdesk.com/helpdesk/tickets/6240):

After doing some digging, my response:

[2016-11-28 23:39] whit537 opened #4209 "Add "percentage to charity" like Humble Bundle has"
I thought @mattbk or someone talked about this before, but I'm not finding it by searching for "charity" in this repo. Gittipay 1.0 really took off when we combined charitable giving to diversity activists with more pragmatic giving to open source projects. Can we do the same under Gratipay 2.0, adapted to our new project focus?

One implementation possibility is the Humble Bundle [model](https://

[2016-11-29 11:15] whit537 commented on #4209
http://www.blackgirlscode.com/
https://www.girldevelopit.com/
https://watsi.org/

[2016-11-29 14:49] mattbk commented on #4209
It wasn't me. The closest I can think of is when I suggested something like a giving pool, where you could give to a general pool that could be opted into by a team/project. Somewhat different than a curated bundle, this would essentially be TWYW but at the project level.

[2016-11-29 16:17] whit537 commented on #4209
This is now potentially evolving into a tax(!): https://github.com/gratipay/inside.gratipay.com/issues/637#issuecomment-263590417.

[2016-11-29 22:15] whit537 commented on #4148
Slight change of plans. #4151 is too much of a rabbit hole. We don't to get ourselves into the business of processing and securing READMEs across 30+ package managers. Our existing `/on/network/foo/` pages aren't very contentful, there's no reason `/on/npm/foo/` need be, either. My current plan is to make a PR to remove the README processing that is already deployed (we still want package fetching

[2016-11-30 05:12] clone1018 opened #4213 "Refresh Team Banner"
This is going to be my focus for awhile, I want to mess around with the design a bit in an issue before I move it to a pull request.

My first draft is:
![image](https://cloud.githubusercontent.com/assets/226638/20740541/80e3a5aa-b689-11e6-9906-114f68b7b9a2.png)

My goals were:

- Supporting teams on Gratipay is AMAZING! Let's show that off
- Highlight you (the user) setting up an easy gift to the

[2016-11-30 05:33] clone1018 commented on #4213
Side note, in order to build this out, I had to tear up the rest of the site haha

[2016-11-30 08:05] nobodxbodon commented on #4209
@mattbk I should have commented in your original issue, and maybe the following has been mentioned already. IMO TWYW is based on mutual respect and understanding. It might be feasible in a small circle like our own team, but I imagine it would cause more conflicts than harmony among different and maybe sometimes completing projects.

Are we considering switching our model? If there's a explict tax

[2016-11-30 08:13] nobodxbodon commented on #4213
My $0.02:

- Is the amount for the latest week or average?
- are the numbers ($5.00, $10.00..) clickable? If so it's not quite obvious. And maybe $1 (without .00) is more concise
- is "setup gift" to setup weekly giving? If it's just to give different number, maybe relabel to something like "other"?

[2016-11-30 12:47] clone1018 commented on #4213
I'm thinking when you click on any of the numbers OR the button, it slides to this menu:

![image](https://cloud.githubusercontent.com/assets/226638/20752781/b8d24cf2-b6c8-11e6-8977-d8498804dbff.png)

[2016-11-30 13:46] whit537 commented on #4213
@clone1018 Maybe keep that up all the time, no slide?

[2016-11-30 14:22] whit537 commented on #4166
Moving to PR in #4124 for point 1. Point 2 moved to #4130.

[2016-11-30 14:23] whit537 commented on #4123
What's the difference between this and #4130, @mattbk?

[2016-11-30 14:28] mattbk commented on #4123
This is an issue, that's a PR.

[2016-11-30 14:35] mattbk commented on #4209
I'm against a tax that isn't opt-in.

Could we reward people for opting in with something? Social capital?

[2016-11-30 14:39] whit537 commented on #4123
Gotcha.

[2016-11-30 14:43] whit537 commented on #4209
Yeah, I'm not sure a "tax" makes sense since this is optional giving in the first place, and that's kind the whole point. :-)

[2016-11-30 16:56] whit537 commented on #3612
Moving to PR in #4128.

[2016-11-30 16:56] #3612 closed

[2016-12-01 03:13] JessaWitzel opened #4216 "Testing Problems"
I was making changes trying to fix #4214 and deleted todo_url from 6 places. It was finally working and the tests all passed (except the three that never pass) but then all of a sudden everything failed. I make cleaned et al and now I am having big testing issues.

I stashed my code changes and got my local env is up to date with master and I have rebooted, and make clean/schema/fake a half dozen

[2016-12-01 03:18] clone1018 commented on #4216
What's the current result of `git status` ?

[2016-12-01 03:20] JessaWitzel commented on #4216
On branch master
Your branch is up-to-date with 'upstream/master'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

	www/assets/gratipay.css
	www/assets/gratipay.js

nothing added to commit but untracked files present (use "git add" to track)

[2016-12-01 03:21] clone1018 commented on #4216
Do you get a postgresql console when you do:

`psql gratipay`

[2016-12-01 03:27] JessaWitzel commented on #4216
yes. it says gratipay=#

[2016-12-01 03:28] clone1018 commented on #4216
Hrm, weird! The only thing I can think of:

Switch back to your branch, commit your changes and push them to origin (so you don't lose them) and then blow it up and do a fresh git clone

[2016-12-01 05:52] JessaWitzel commented on #4216
Just did that. :/ same problem.

[2016-12-01 05:58] JessaWitzel commented on #4216
Husband just dropped gratipay and gratipay-test databases and reran make schema and it is working now! I have a million errors but this is progress!

[2016-12-01 05:58] #4216 closed

[2016-12-01 16:34] whit537 commented on #4213
@clone1018 Can we close this in favor of #4215?

[2016-12-01 16:38] clone1018 commented on #4213
Yeah I meant to! Thanks

[2016-12-01 16:38] #4213 closed

[2016-12-02 00:17] mattbk commented on #4044
Closing in favor of https://github.com/gratipay/gratipay.com/issues/3326.

[2016-12-02 00:17] #4044 closed

[2016-12-02 00:18] mattbk commented on #3326
Retickted from #4044:

[2016-12-02 04:31] JessaWitzel commented on #4209
So how do you give to charity on here? In fact, isn't there a support ticket like this? Is there a way for charitable organizations to create teams? Or for teams to partner with charitable organizations?

[2016-12-02 04:37] techtonik commented on #4209
This organizations need official status, so we need to import list from somewhere. https://www.charitynavigator.org/ looks like a good start.

[2016-12-02 16:12] whit537 commented on #3326
Notify section added to ticket description.

[2016-12-02 19:28] whit537 commented on #4148
@kaguillera and I are talking IRL about how much tech debt we want to take on underneath [Relax Open Work Requirement](https://github.com/orgs/gratipay/projects/5?fullscreen=true) in order to fast-track the npm feature here. Over there, we are renaming Teams to projects and members to collaborators, and we are also now [talking](https://github.com/gratipay/gratipay.com/pull/4219) about removing ti

[2016-12-02 19:53] whit537 commented on #4148
Discussing in [slack](http://gratipay.slackarchive.io/gratipay/-/1480696458.000793/1480708090.000895/1480708035000887/).

[2016-12-02 19:59] aandis commented on #4148
😄

[2016-12-02 20:12] whit537 commented on #4148
@JessaWitzel at [slack](http://gratipay.slackarchive.io/gratipay/-/1480707779.000875/1480709421.000978/1480709359000968/)

[2016-12-04 23:52] whit537 commented on #2953
I'm pretty sure our infrastructure has changed enough that his is now moot.

[2016-12-04 23:52] #2953 closed

[2016-12-04 23:57] whit537 opened #4223 "Convince Travis to test PRs against other-than-master"
[slack](http://gratipay.slackarchive.io/gratipay/-/1480711307.001019/1480895804.000025/1480818430000004/)

[2016-12-05 00:00] whit537 commented on #4223
I discovered via a [blame of `.travis.yml`](https://github.com/gratipay/gratipay.com/blame/2016/.travis.yml) that #3187 is the old PR I was looking for ...

[2016-12-05 00:07] whit537 commented on #4223
Further discussion below https://github.com/gratipay/grtp.co/pull/115#issuecomment-184426699.

[2016-12-05 00:14] whit537 commented on #4148
We have reached **Checkpoint 1: Inert /on/npm/foo/ Pages**! 💃

https://gratipay.com/on/npm/react-router/

![screen shot 2016-12-04 at 7 13 48 pm](https://cloud.githubusercontent.com/assets/134455/20870416/ce65cd06-ba55-11e6-9d26-ab8bd1b00a53.png)

[2016-12-05 04:08] JessaWitzel commented on #4203
@whit537 I am willing to give an opinion if you want to take the time to tell me the pros and cons. If they are both logging the same information and Heroku logs can be made public then my answer is no! Let's ax it.

[2016-12-05 17:02] whit537 commented on #4203
I heard back from Heroku. They were very receptive to the +1, but logs/stats can't be made public right now. :-/

[2016-12-07 15:33] #4198 closed

[2016-12-07 15:35] whit537 commented on #4223
Done at https://github.com/gratipay/gratipay.com/pull/4221#issuecomment-265158884.

[2016-12-07 15:35] #4223 closed

[2016-12-07 21:24] whit537 commented on #3069
Closing now that #3684 is done.

[2016-12-07 21:24] #3069 closed

[2016-12-07 22:22] whit537 opened #4226 "Fix ridiculous "13 failed" Travis failure"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4221#issuecomment-265580315. We may have a ticket already but I'm not finding it.

[2016-12-08 01:29] mattbk commented on #4226
Also in #4222 now.

[2016-12-08 10:20] whit537 commented on #4226
I don't even have a log right now. :(

[2016-12-08 10:23] whit537 commented on #4226
Here we go: https://gist.github.com/whit537/bac6d2be5a7d5f2aa9b60fb1df73218b.

Snagged from #4222.

[2016-12-08 10:25] whit537 commented on #4226
Actually, this could be a case of https://github.com/gratipay/gratipay.com/pull/4225 [after all](https://gist.github.com/whit537/bac6d2be5a7d5f2aa9b60fb1df73218b#file-13-failed-log-L69).

[2016-12-08 10:27] whit537 commented on #4226
Closing wtih #4225. Let's see if that does it ...

[2016-12-08 10:27] #4226 closed

[2016-12-08 14:17] JVimes commented on #4041
Just FYI, I ran into this a second time today (previous credit card cancelled). I know it's not the highest priority, but should be an easy client side fix ☺️

[2016-12-08 14:26] mattbk commented on #4041
https://developers.google.com/web/updates/2015/06/checkout-faster-with-autofill for future reference.

[2016-12-08 16:10] whit537 commented on #4041
Sorry @JVimes. 😕  Do you happen to know what the fix is off-hand?

@mattbk Can you see what the fix is from the link there?

[2016-12-08 16:54] JVimes commented on #4041
@whit537, @mattbk I found two things that seem to work, at least in devtools:
 * Removing `autocomplete="off"` from the form. Oddly, this doesn't work on the original form, but does work if I copy/paste the form so there are now two forms, and I edit the new copy.
 * Disabling JavaScript fixes it without editing HTML or messing with autocomplete.

[2016-12-08 17:03] mattbk commented on #4041
Thanks for digging in, @JVimes. I can't play with this until tonight at the earliest.

[2016-12-08 17:47] whit537 commented on #4041
Maybe someone from 24 Pull Requests could pick this one off?

https://twitter.com/Gratipay/status/806918094199230464

[2016-12-08 19:00] whit537 commented on #4166
Point 2 moved back here. :-)

[2016-12-08 23:22] whit537 commented on #3963
Picking up from the [levels](https://github.com/gratipay/gratipay.com/issues/3736#issuecomment-248949250) idea ... how about badges?

https://wiki.mozilla.org/Badges
https://openbadges.org/
https://osf.io/tvyxz/wiki/home/
http://stackoverflow.com/help/badges
https://badges.fedoraproject.org/
https://www.reddit.com/wiki/awards
&nbsp; (I love impressing the likes of @oakes with my [Ten Year Club tro

[2016-12-08 23:27] whit537 commented on #3963
National identities are possibly related to this.

![screen shot 2016-12-08 at 6 26 49 pm](https://cloud.githubusercontent.com/assets/134455/21031881/e6fefb8c-bd73-11e6-9e30-dd98260c11df.png)

[2016-12-08 23:27] whit537 commented on #3963
"You've been awarded the `JavaScript` badge!"

[2016-12-09 03:10] mattbk commented on #3326
Reticketed from https://github.com/gratipay/gratipay.com/pull/4157#issuecomment-264317722:

[2016-12-09 03:12] mattbk commented on #3326
This was added in https://github.com/gratipay/gratipay.com/pull/4157/files#diff-e1c620cb8be92eaa2a469cc9ce67ff13R74:

[2016-12-09 03:14] mattbk opened #4227 "Clarify "payments" nomenclature"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4157#issuecomment-264345997:

[2016-12-09 03:22] mattbk commented on #4227
From https://github.com/gratipay/gratipay.com/pull/4157#issuecomment-264348811:

[2016-12-09 03:39] mattbk commented on #4041
Locally I'm not secure!
![screen shot 2016-12-08 at 9 38 48 pm](https://cloud.githubusercontent.com/assets/3729038/21036892/c6772720-bd8e-11e6-976f-35fe4f5e4063.png)

[2016-12-11 21:53] mattbk commented on #1052
+1 from [Freshdesk](https://gratipay.freshdesk.com/helpdesk/tickets/6349):

issues with that. Personally, I won't sign onto anything through a
social site because of the information that it makes available. Email
authentication works for me, but not signing up through Facebook or Twitter.

[2016-12-12 16:46] mattbk commented on #3960
Another helpful hint: Once you `make fake`, it stays there until you `make fake` again (or delete the database). I've been manually editing the database in order to become admin while developing. This is a better solution than editing the code on each PR and then remembering to not commit those changes.

[2016-12-12 16:48] mattbk commented on #3506
Requiring email would help in cases like https://github.com/gratipay/gratipay.com/pull/4221, where the ToS is changing and we should notify people.

[2016-12-14 15:27] whit537 commented on #4209
https://www.councilofnonprofits.org/tools-resources/commercial-co-ventures-and-cause-related-marketing

[2016-12-14 15:27] whit537 commented on #4209
Also https://www.quora.com/How-do-for-profit-companies-that-raise-funds-for-non-profits-and-causes-make-money

[2016-12-14 15:48] whit537 opened #4233 "Use Card for nicer credit card UI"
[h/t](https://twitter.com/changelog/status/809051832869879808)

https://jessepollak.github.io/card/
https://github.com/jessepollak/card

![687474703a2f2f692e696d6775722e636f6d2f71473354656e4f2e676966](https://cloud.githubusercontent.com/assets/134455/21188880/c95c4f96-c1ea-11e6-9991-d629dd6fedd8.gif)

[2016-12-14 18:57] whit537 commented on #4207
[You can now](https://gratipay.news/from-teams-to-projects-45c46718507b)! 💃

[2016-12-14 18:57] #4207 closed

[2016-12-16 02:59] #3872 closed

[2016-12-16 11:18] whit537 opened #4235 "Smarten up rendered descriptions in search"
When displaying search results, we include a participant's profile statement, which we render as markdown and then excerpt (theoretically we'll do the same for project's some day). Applying styles to the rendered markdown can have unintended side effects. For example, [searching for webpack](https://gratipay.com/search?q=webpack) matches the usernames `webchick` and `Weblate`, and the half-open HT

[2016-12-17 01:31] mattbk opened #4237 "Integrate CRAN"
The repository for R packages.

Like #4148.

[2016-12-17 10:40] EdOverflow opened #4238 "Update cryptography to 1.5.3"
`cryptography` fixed a security issue in version [1.5.3](https://cryptography.io/en/latest/changelog/#id4):

This currently doesn't affect Gratipay, but it's an extra precaution for the future.

Link to current version of `cryptography` used by Gratipay (1.3.2): https://github.com/gratipay/gratipay.com/blob/master/requirements.txt#L69

[2016-12-17 10:40] whit537 commented on #4237
Looks like CRAN is on https://libraries.io/. My thinking is that after #4148, we will have a much better idea of what we need from Libraries.io in terms of API. Ideally they would be able to build out whatever API we might need, and then we can go from 1 to 30+ other package managers in one fell swoop. Does that sound right to you?

[2016-12-17 11:24] whit537 commented on #4238
@EdOverflow Wanna give us a PR? :-)

[2016-12-17 11:39] EdOverflow commented on #4238
Done: https://github.com/gratipay/gratipay.com/pull/4239.

[2016-12-17 12:23] #4238 closed

[2016-12-17 13:30] mattbk commented on #4237
Sounds good. Wanted to get it on the list.

[2016-12-17 13:31] EdOverflow opened #4240 "Deploy SRI for remote resources"
With SRI deployed, remote resources can be used safely, without fear of them being modified by malicious parties.

The following remote resources do not use SRI:

**5 scripts:**
https://assets.gratipay.com/jquery.min.js
https://assets.gratipay.com/chosen.jquery.min.js
https://assets.gratipay.com/tipr.min.js
https://assets.gratipay.com/bootstrap-dropdown.js
https://assets.gratipay.com/gratipay.js

[2016-12-17 14:11] EdOverflow commented on #4240
It would also be a nice feature to supply the SRI hash of the `GIVING & TAKING WIDGETS`:

[code]

[2016-12-17 18:29] whit537 commented on #4240
Sounds good to me, though I suppose we'll need a way to automate this, ya?

[2016-12-17 18:34] EdOverflow commented on #4240
Yep, exactly. You will need to hash the file, base64 encode the message digest and then finally insert it into the `integrity` attribute.

[2016-12-18 02:06] whit537 commented on #4240
Okay, up for a PR on this one? :-)

[2016-12-18 09:23] EdOverflow commented on #4240
I'll submit a pull request for this one as soon as I find time. :)

[2016-12-18 20:00] mattbk opened #4241 "Add "hidden" option for rejected projects that are spam or security testing"
So they don't show up under the "rejected" tab.

[2016-12-19 15:26] mattbk commented on #4237
Working with http://www.crantastic.org/ would be great as well. It's a search/review site for CRAN packages. They're on GitHub: https://github.com/hadley/crantastic/tree/master

[2016-12-19 16:23] whit537 commented on #4241
Or we could just delete them.

[2016-12-19 16:50] mattbk commented on #4241
Yeah, but I need someone with database access to do that.

[2016-12-19 18:20] whit537 commented on #4241
I was thinking we could add an admin knob so you could do it through the website.

[2016-12-19 18:21] whit537 commented on #4241
Though "archived" or "hidden" is probably safer.

[2016-12-20 18:58] whit537 commented on #1052
+1 from Earl at the coffee shop! ☕️

[2016-12-20 20:19] mattbk commented on #4235
Helpful? https://coderwall.com/p/dnnlea/how-to-truncate-a-string-that-s-markdown-format

[2016-12-20 20:22] whit537 commented on #63
+1 from Earl at the coffee shop! ☕️
+1 from my dad at some point!

[2016-12-20 20:50] whit537 commented on #4235
Hmm ... maybe. a) I think that's Ruby? and b) Why would it work to truncate before escaping instead of after? We don't even want to escape, do we?

Probably the real way to do this is to store an html-stripped version of the text, and search over and display that.

[2016-12-20 20:51] mattbk commented on #4235
I think your first point is the most valid.

[2016-12-21 15:49] timothyfcook commented on #249
Still want this. "Give to the people, teams, and projects building the world you want."

[2016-12-21 16:08] mattbk commented on #249
Doesn't sound hard? Part of https://github.com/gratipay/gratipay.com/issues/1199.

Falls under https://github.com/gratipay/gratipay.com/issues/236? Could be done in aggregate in order to maintain anonymity (only if n >10, for example).

Sounds like this could be packed into the point above.

Is there any legal difficulty in collecting payments on behalf of a charity and maintaining tax-deductible

[2016-12-21 22:47] whit537 opened #4246 "Move projects under participants in URL structure"
In the spirit of differentiating participants and projects (#3852), I think it could make sense to move projects underneath participants in our URL structure. So instead of:

`https://gratipay.com/~kennethreitz/`
`https://gratipay.com/requests/`

We would have:

`https://gratipay.com/kennethreitz/`
`https://gratipay.com/kennethreitz/requests/`

Projects have exactly one owner: the legal entity beh

[2016-12-22 01:28] mattbk commented on #4246
I think this

1. Increases the likelihood of links breaking
1. Reduces projects from primary to secondary importance

That being said, it's what GitHub does.

[2016-12-22 02:00] nobodxbodon commented on #3852
Would it be a low-hanging fix to relabel and adjust layout like:
![screen shot 2016-12-21 at 5 58 27 pm](https://cloud.githubusercontent.com/assets/392497/21412708/25e774c2-c7a7-11e6-8dd9-374f315f308e.png)

[2016-12-22 14:12] whit537 commented on #4246
Yeah, we'd want to be careful about maintaining redirects. Perhaps we would need to snapshot project names at the time of the cutover in order to be able to redirect them in perpetuity?

I think your GitHub example counters this somewhat.

[2016-12-22 21:21] mattbk commented on #4126
Until take-what-you-want returns for projects in general, there may not be a need for projects-giving-to-projects because all funds flow through the project owner, who can then give to the other project in question. I see the return of TWYW and PGTP as going hand in hand. Keeping the books straight if you ran multiple projects would be a reason to separate out PGTP before then.

https://gratipay.s

[2016-12-23 13:09] EdOverflow opened #4254 "Remove ~search user."
This account was created for this report: https://hackerone.com/reports/128121

Link to search page: https://gratipay.com/search
Link to search user: https://gratipay.com/search/

[2016-12-23 15:25] mattbk opened #4258 "about/me/history does not match other pages that require login to view"
`about/me/history` (not logged in):
![image](https://cloud.githubusercontent.com/assets/3729038/21457009/add265ea-c8f1-11e6-9635-b42bcee036a9.png)

`~whit537/history` (not logged in)
![image](https://cloud.githubusercontent.com/assets/3729038/21457017/c4751856-c8f1-11e6-8f84-142beb955910.png)

The latter is a 401 code, the former is not.

[2016-12-23 19:40] ntnsndr opened #4260 "Join the IoO Project Council?"
For some months, @devinbalkind and I have been developing a Project Council as an institutional frame for The Internet of Ownership, a federated resource network for the platform co-op ecosystem. We already use Gratipay for our fundraising, and we'd love to work more closely with you. Would Gratipay be interested in joining our Project Council? Right now, the meaning of this is still being worked

[2016-12-24 11:29] EdOverflow opened #4261 "Display warning when clicking on external link."
In order to reduce the impact of open redirects, I would recommend adding a warning page. The warning should display where the user is being redirected to.

The following is HackerOne's implementation:

![c](https://cloud.githubusercontent.com/assets/18099289/21466712/1e2381c0-c9d4-11e6-92cc-2a1d6a47a5f2.PNG)

[2016-12-24 11:30] EdOverflow commented on #4101
I was wondering if there's any progress on the issue.

[2016-12-24 14:23] nashe commented on #4101
Hi @EdOverflow! Unfortunately not, since I don't have to contribute to Gratipay anymore (I hope it'll change soon).
The idea was to find a good and extensible Markdown parser. I don't think that speed is one real issue so we don't really need to find a native Python module (and take the associated risks—you'll have some bad surprises if you fuzz the most known ones for few hours!). The _extensible

[2016-12-24 15:48] EdOverflow opened #4262 "Full performance report"
![performance](https://cloud.githubusercontent.com/assets/18099289/21467675/c49b7ae0-c9f6-11e6-9300-9e5b8c393cb4.jpg)

# Introduction
The following is a report on the overall performance of https://gratipay.com/. I hope by sharing this we can get more people involved in improving the performance of the website and keep track of what is done and needs doing.

Note: Target values may not be attainab

[2016-12-24 16:13] EdOverflow opened #4263 "Full security report"
![security](https://cloud.githubusercontent.com/assets/18099289/21467797/0046d44c-c9fa-11e6-947a-cc3137a03c60.jpg)

# Introduction
The following is a report on the general security of https://gratipay.com/. I hope by sharing this we can get more people involved in improving the security of the website and keep track of what is done and needs doing.

On top of that, this should ensure we only get v

[2016-12-24 23:34] mattbk commented on #4262
https://github.com/gratipay/gratipay.com/pull/4234 is part of 8, but all projects are still being loaded.

[2016-12-24 23:56] mattbk commented on #4126
+1 from Slack: https://gratipay.slack.com/archives/gratipay/p1482449884001217

[2016-12-27 21:32] whit537 opened #4265 "Throttle payouts for untrusted receivers"
If/when we start scaling up again, we'll no doubt hit a point where we have too many receivers to review manually. At that point, one technique to limit fraud will be to throttle payouts. I just sold something under a brand new eBay account. Here's how they do it:

![screen shot 2016-12-27 at 4 28 59 pm](https://cloud.githubusercontent.com/assets/134455/21508830/ec629a4c-cc51-11e6-9a19-a22e46cfd29

[2016-12-27 22:02] whit537 commented on #4258
Thanks for ticketing, I noticed this the other day, too.

[2016-12-27 22:06] whit537 commented on #4260
Thanks for the invitation, @ntnsndr! Moving to https://github.com/gratipay/inside.gratipay.com/issues/954 since we use that repo for organizational issues such as this one, while issues in the gratipay.com repo are more for product issues with the website itself.

[2016-12-27 22:10] #4260 closed

[2016-12-27 22:11] whit537 commented on #4261
This would be just for user-generated content, correct?

[2016-12-27 22:14] EdOverflow commented on #4261
Yep, that's right.

[2016-12-27 22:17] whit537 commented on #4126
@mattbk Can we use http://gratipay.slackarchive.io/gratipay/ for Slack permalinks instead of slack.com? I'm given to understand that the former are more permanent.

[2016-12-27 22:29] whit537 commented on #4263
This and #4262 are awesome, @EdOverflow. For this one in particular it seems that https://github.com/gratipay/inside.gratipay.com/issues/789 might overlap.

[2016-12-28 16:42] whit537 commented on #4254
Done. In the future I would rename them instead of remove.

[code]

[2016-12-28 16:42] #4254 closed

[2016-12-28 19:08] whit537 commented on #4263
What are the big take-aways from "[Learning From A Year of Security Breaches](https://medium.com/starting-up-security/learning-from-a-year-of-security-breaches-ed036ea05d9b)" for us? Credential rolling (https://github.com/gratipay/inside.gratipay.com/issues/159) and better logging are the two things I see there.

Now I find "[Starting Up Security: From Scratch](https://medium.com/@magoo/starting-u

[2016-12-29 22:15] mattbk commented on #3183
+1 from Twitter:
https://twitter.com/kimptoc/status/814546241023594496

https://twitter.com/kimptoc/status/814584630603055104

Starred GitHub projects is listed somewhat at https://github.com/gratipay/gratipay.com/issues/644, which was rolled into this ticket.

[2016-12-29 23:03] whit537 commented on #4235
I think we should try using http://stackoverflow.com/a/925630 to compute and store a flattened plain-text version of the content, and search/display against that instead of the marked-up version.

[2016-12-29 23:06] whit537 commented on #4235
Or possibly https://github.com/aaronsw/html2text but that seems like overkill.

[2016-12-30 01:29] whit537 commented on #4235
Moving to a PR in #4266.

[2016-12-30 01:29] #4235 closed

[2016-12-30 03:13] balupton commented on #236
@whit537 any status update? I'm pushing up a service right now that allows reward fulfilment for different funding platforms - namely patreon right now, as they provide the necessary API calls - would be good to get gratipay support for it too

[2016-12-30 07:37] whit537 commented on #236
Thanks for thinking of us, @balupton! Unfortunately my hopes have been dashed. :( Hopefully in 2017! :-)

[2016-12-30 12:13] EdOverflow commented on #4263
@whit537 I will invest some time in evaluating every issue and writing a full report on **every** aspect of Gratipay's security. This means I will need some information from you and the team. That way I will understand how the platform operates and will be able to write an entire report for Gratipay's users and team.

Would you be fine with me making this a priority?

[2016-12-30 15:43] whit537 commented on #4263
Hopefully it's ultimately up to you to set your own priorities around here. :-)

I do think we want to avoid losing the forest for the trees. The challenge with security as I see it is to prioritize risks and dedicate resources to resolving the biggest risks first. That means having a comprehensive, big picture view that we can use to assess and make decisions against. Reacting to H1 reports is re

[2016-12-30 16:30] EdOverflow commented on #4263
I agree with every point you raised.

My plan is to create a clear threat model. This will allow security researchers and the Gratipay team to focus on the most critical security issues. The different areas of the platform will be divided into sections determined by a score.

Since you have already set up Etherpad, we may as well use that.

[2016-12-30 16:45] whit537 commented on #4263
I simply constructed the link and nothing else, pads are there for you automatically at whatever URL you choose. Good place to start, anyway! :-)

[2016-12-30 20:25] whit537 commented on #3755
Okay! @timothyfcook is putting the squeeze on. He threw in $20 and I found a 10-spot in my pocket. That and some heartcoins and stickers and we've got a designer co-resident here at Stack on the case: he's going to do an illustration for us that we can hopefully drop-in replace for the picture of my table. :)

[2016-12-30 20:45] timothyfcook commented on #3755
So stoked.

[2016-12-30 22:06] whit537 commented on #3755
Raw:

![untitled_artwork](https://cloud.githubusercontent.com/assets/134455/21573435/467a6ed0-ceb2-11e6-976b-3ebc5ae87554.png)

[2016-12-30 22:07] whit537 commented on #3755
First cut at placement:

![screen shot 2016-12-30 at 5 05 13 pm](https://cloud.githubusercontent.com/assets/134455/21573445/560c624a-ceb2-11e6-930e-1fefa5908fc0.png)
![screen shot 2016-12-30 at 5 05 26 pm](https://cloud.githubusercontent.com/assets/134455/21573446/560d051a-ceb2-11e6-952d-3f53fdc38528.png)
![screen shot 2016-12-30 at 5 05 39 pm](https://cloud.githubusercontent.com/assets/134455/215

[2016-12-30 22:11] timothyfcook commented on #3755
Looking great! I would maybe render the edge of it differently. Less of that border/drop-shadow. Maybe flat with rounded corners to match your button and icon style.

[2016-12-30 22:11] whit537 commented on #3755
What is "it"? The profile pic and chalkboard?

[2016-12-30 22:13] timothyfcook commented on #3755
the green rectangle. the whole banner box.

[2016-12-30 22:22] whit537 commented on #3755
There _is_ a 1px border on the top and bottom of the green rectangle, but ... you are seeing a drop shadow on the green rectangle?

[2016-12-30 22:26] whit537 commented on #3755
More subtle coloring:

-----------------

![screen shot 2016-12-30 at 5 24 59 pm](https://cloud.githubusercontent.com/assets/134455/21573646/fcf53404-ceb4-11e6-9034-61adf1fac1a3.png)

-----------------------

![screen shot 2016-12-30 at 5 25 10 pm](https://cloud.githubusercontent.com/assets/134455/21573647/fcf7a7e8-ceb4-11e6-98fb-7eaff4bde4c3.png)

[2016-12-30 22:30] timothyfcook commented on #3755
looks good more subtle. Yeah, it's the 1px border. What does it look like without that, but with slightly rounded corners (like the rounded corners on the buttons). Obvs would have to sync the corner-rounding with that yellow notification box as well.

[2016-12-30 22:33] whit537 commented on #3755
I used [this](http://www.rapidtables.com/convert/color/rgb-to-hsl.htm) and [this](http://help.pixelmator.com/mac/3.6/#90) to colorize the image. Then I trimmed transparent pixels, resized it, and positioned it in CSS.

![screen shot 2016-12-30 at 5 31 54 pm](https://cloud.githubusercontent.com/assets/134455/21573723/ea25de86-ceb5-11e6-9ead-78895ad8e5e7.png)

[2016-12-30 22:34] whit537 commented on #3755
Moving to https://github.com/gratipay/gratipay.com/pull/4267 ...

[2016-12-30 22:34] #3755 closed

[2016-12-30 22:35] whit537 commented on #3755
If you can live without that and can give a +1 to #4267, I will merge that and deploy it right now. :-)

[2016-12-30 22:37] whit537 commented on #3755
@timothyfcook Because that is SCOPE CREEP you didn't SAY ANYTHING ABOUT THE Border just the image!

[2016-12-30 22:38] timothyfcook commented on #3755
Agreed. lol. separate ticket.

[2016-12-31 02:56] mattbk commented on #1167
Back over here because of my comment at https://github.com/gratipay/gratipay.com/pull/4268#issuecomment-269844784.

I don't think this should be under gratipay/grtp.co#103, because I see grtp.co as an offsite issue (add an onboarding widget away from gratipay.com) whereas this is an onsite issue. I imagine we are more constrained when offsite? In any case, I view these as separate because they can

[2016-12-31 03:06] mattbk commented on #1167
So I'm here at https://gratipay.com/Gratipay, ready to donate. Never been here before. How do I give? Oh, it looks like I need to sign in to give. Cool.

![screen shot 2016-12-30 at 9 02 08 pm](https://cloud.githubusercontent.com/assets/3729038/21575499/4358505c-ced3-11e6-81d9-8a44037f8d81.png)

But I don't have an account yet, how can I sign in? Maybe there's a "create account" link behind this b

[2016-12-31 03:11] mattbk commented on #1167
From [useronboard.com](http://www.useronboard.com/advice/#comment-2242064853) (linked above):

[2016-12-31 03:20] mattbk commented on #1167
Even something like this might help:
![image](https://cloud.githubusercontent.com/assets/3729038/21575561/ce0e83f4-ced5-11e6-944a-c274e8cb9184.png)

[2016-12-31 03:24] mattbk commented on #1167
![image](https://cloud.githubusercontent.com/assets/3729038/21575571/4705045e-ced6-11e6-9712-bd685926ba49.png)

[2016-12-31 13:29] #4258 closed

[2017-01-01 04:07] mattbk commented on #3121
This accidentally made it in. Explanation in https://github.com/gratipay/gratipay.com/pull/4190#issuecomment-269891592.

[2017-01-01 04:07] #3121 closed

[2017-01-01 04:56] mattbk opened #4270 "/apply should be something better than a 401 if not logged in"
Instead of an error code, there should be some helpful information here that encourages people to keep going.

![screen shot 2016-12-31 at 10 55 43 pm](https://cloud.githubusercontent.com/assets/3729038/21580245/4cec1bd8-cfac-11e6-87ba-3c315c8c6927.png)

[2017-01-01 21:07] mattbk commented on #4270
Noticing some more things I don't like as I go through this.

Currently:
1. Access /apply. See error 400, asks me to log in (not sign up).
1. Sign up, redirect back to /apply. See another error--why are you yelling at me?
![screen shot 2017-01-01 at 2 59 45 pm](https://cloud.githubusercontent.com/assets/3729038/21583017/10082d1a-d033-11e6-916e-1a8a0b7624fe.png)
1. Follow the link at the top of the

[2017-01-01 21:32] mattbk commented on #4270
I've been reading a little about onboarding this weekend. To make this easier:
One option
* Embed the email address and PayPal address into the form itself, if the user does not have them set up already.

Another option
* Move the email and PayPal requirements to after the form submission. If you click "Apply" or "Fund my Project" or whatever, you should get straight to the form.
* Once the form h

[2017-01-01 21:37] mattbk commented on #4270
We may end up with more junk projects coming in that never get approved, but simplifying this process might make people a lot happier.

[2017-01-01 21:37] mattbk opened #4272 "Only approve projects with owner email and PayPal"
Reticketed from https://github.com/gratipay/gratipay.com/issues/4270#issuecomment-269920569.

Of course, a project owner could _still_ remove the emails after project approval, but that sounds less likely.

[2017-01-03 05:30] nobodxbodon commented on #4148
Anything I can do to accelarate this? It seems top priority for now.

One question: is NPM cool with this, and are they willing to partner/coordinate in any way?

[2017-01-03 21:23] whit537 commented on #4148
Thanks for bumping this, @nobodxbodon! As mentioned in [slack](http://gratipay.slackarchive.io/gratipay/-/1483308579.001479/1483477112.00159/1483469265001564/), I hoping to spec this out this week while also bringing [Relax Open Work Requirement](https://github.com/orgs/gratipay/projects/5?fullscreen=true) in for landing (this was blocked on that).

[2017-01-03 21:42] whit537 commented on #4148
I emailed them and didn't hear back. I think if we get some traction with this, that will be the time to reapproach a conversation with them.

Last month I guesstimated ([one](http://gratipay.slackarchive.io/gratipay/-/1480704365.000861/1480709302.000964/1480709162000959/), [two](http://gratipay.slackarchive.io/gratipay/-/1481837154.000682/1482002861.000787/1481923658000760/)) that the [two](https

[2017-01-03 21:45] whit537 commented on #4148
I've put both projects on the [calendar](http://inside.gratipay.com/appendices/calendar), with an initial target date of March 17 for Integrate npm.

[2017-01-03 21:46] whit537 commented on #4148
Honestly this is probably going to go into April or May, but we can take that as it comes. :-)

[2017-01-04 14:17] whit537 commented on #4166
Removing from milestone and project. Nice to have if we can get to it.

[2017-01-04 14:20] whit537 commented on #3731
Moving from Pivot milestone to Tech Debt project.

[2017-01-04 15:18] whit537 commented on #3660
Closing. The confusion between participants and projects is better addressed on https://github.com/gratipay/gratipay.com/issues/3852.

[2017-01-04 15:18] #3660 closed

[2017-01-04 15:20] whit537 commented on #3738
Moving from the Pivot milestone to a new [Optimize Homepage](https://github.com/orgs/gratipay/projects/13) project.

[2017-01-04 15:23] whit537 commented on #3666
Dropping from the Pivot because it's the last thing there and while this is still something that needs to be addressed, it's not critical to the definition of "done" for the Pivot.

[2017-01-04 15:27] whit537 commented on #3399
Well, we did pivot another degree, but towards [projects](https://gratipay.news/from-teams-to-projects-45c46718507b) instead of [open companies](https://github.com/gratipay/gratipay.com/issues/3399#issuecomment-112110512):

Now the Pivot is down to one last ticket: this one. Time to close it out!

Congratulations, everyone! We have successfully turned the ship! 💃 🌻

[2017-01-04 15:27] #3399 closed

[2017-01-04 16:39] whit537 commented on #3859
We did away with the onboarding links in #4222.

[2017-01-04 16:39] #3859 closed

[2017-01-04 17:16] whit537 commented on #3859
We already link to TOS, and the glossary doesn't exist yet (and is hopefully unneeded with #4221).

Better addressed in https://github.com/gratipay/gratipay.com/issues/3654.

Closing.

[2017-01-05 10:21] aandis commented on #4148
I'd really like to see this happening on gratipay so I am ready to help as much as I can. We need a development plan so that things are moving along.

[2017-01-05 15:57] mattbk commented on #4148
This would be more useful in Gantt chart format, IMO. The calendar is cool for events, but in terms of lining up work, it's just a bunch of blue bars to me.

[2017-01-05 18:51] whit537 opened #4274 "History page balances are messed up"
Is it because we're so close to the new year?

https://gratipay.com/~whit537/history/?year=2016

![screen shot 2017-01-05 at 1 50 55 pm](https://cloud.githubusercontent.com/assets/134455/21693208/0e5404c6-d34e-11e6-8913-a5522662321b.png)

[2017-01-05 19:59] mattbk commented on #3602
Can we hide everything, as we do for closed ~user accounts?

[2017-01-05 20:12] kaguillera commented on #4274
Not sure but will check into it.

[2017-01-06 15:10] mattbk commented on #4237
I mentioned this [here](https://github.com/gratipay/inside.gratipay.com/issues/412#issuecomment-159634566), too, apparently.

[2017-01-06 15:48] daroczig commented on #4237
Crantastic (as far as I know) is not under active development anymore, unfortunately :(
I'd rather suggest checking METACRAN at https://www.r-pkg.org

[2017-01-06 16:07] gaborcsardi commented on #4237
:+1:

I am not sure what kind of API you need from the packages manager, but I'll be happy to improve the CRAN API at METACRAN.

[2017-01-07 00:58] mattbk opened #4283 ""Full name on card" should not be optional"
If we want it for fraud prevention, we should require it. If it doesn't help anyone for us to have it, we shouldn't ask for it. Having an "optional" field for payment information is weird--and you don't want weirdness when asking people to enter their information.

[2017-01-08 00:52] nobodxbodon commented on #3326
The transparency seems critical, both to gratipay's accounting or teams. To understand better about the fee structure, @mattbk could you share the reference about the 2% and $1 cap? I don't find any related info on https://www.paypal.com/us/webapps/mpp/paypal-fees

I also +1 to adding a report or visualization about the breakdowns (amount received from givers, fees, amount received by receivers) a

[2017-01-08 01:26] mattbk commented on #3326
This is where I found it: https://github.com/gratipay/gratipay.com/blob/master/data/routing.txt#L17

[2017-01-08 06:14] nobodxbodon commented on #3326
I guess it's [mass payment](https://www.paypal.com/cgi-bin/webscr?cmd=_batch-payment-overview-outside).

[2017-01-08 20:42] mattbk commented on #3326
Yes, payday is run using masspay.

[2017-01-08 20:43] mattbk commented on #3326
Yes, payday is run using masspay: http://inside.gratipay.com/howto/run-payday.

[2017-01-08 20:44] mattbk commented on #3326
Have you seen https://github.com/gratipay/gratipay.com/pull/4128?

[2017-01-09 13:07] Changaco commented on #4101
The <https://github.com/liberapay/liberapay.com/pull/502> PR, which upgrades Misaka from v1 to v2, contains a Renderer subclass that would also be useful with Mistune.

[2017-01-09 16:26] whit537 opened #4284 "Process bounces and complaints automatically"
Reticketing from #4232/#4282. Email bounces and complaints should post back to gratipay.com so we can mark the address as unverified (or otherwise deal with the situation).

[2017-01-09 21:30] whit537 commented on #4235
[Fixed](https://gratipay.com/search?q=webpack)! 💃

![screen shot 2017-01-09 at 4 30 14 pm](https://cloud.githubusercontent.com/assets/134455/21784299/ec43e692-d688-11e6-8cad-22ceec67a0fe.png)

[2017-01-09 22:58] toy commented on #4168
Still not possible to disconnect

[2017-01-10 20:21] mattbk commented on #3602
+1 from [Freshdesk](https://gratipay.freshdesk.com/helpdesk/tickets/6575).

As a workaround, I'm inclined to mark the project as "rejected" but leave a note in the description that it was by request.

[2017-01-11 05:56] nobodxbodon commented on #84
Moved to https://github.com/gratipay/inside.gratipay.com/issues/973 for high-level discussion. Will reopen when there's concrete plan and design.

[2017-01-11 05:56] #84 closed

[2017-01-11 06:19] nobodxbodon commented on #2119
Pagerduty isn't used after [review fixed cost](https://github.com/gratipay/inside.gratipay.com/issues/928)

[2017-01-11 06:19] #2119 closed

[2017-01-11 06:33] nobodxbodon commented on #3319
Seems the only remaining action item is https://github.com/gratipay/gratipay.com/issues/3326. Please reopen if otherwise.

[2017-01-11 06:33] #3319 closed

[2017-01-11 06:40] nobodxbodon commented on #3057
Merged #759

[2017-01-11 06:40] nobodxbodon commented on #759
Merged with https://github.com/gratipay/gratipay.com/issues/3057

[2017-01-11 06:40] #759 closed

[2017-01-11 06:57] nobodxbodon commented on #743
Site down.

[2017-01-11 06:57] #743 closed

[2017-01-11 07:09] nobodxbodon commented on #1071
Site down.

[2017-01-11 07:09] #1071 closed

[2017-01-11 07:14] nobodxbodon commented on #2044
Site down.

[2017-01-11 07:14] #2044 closed

[2017-01-11 07:22] nobodxbodon commented on #2813
Now it's 401:
![screen shot 2017-01-10 at 11 21 37 pm](https://cloud.githubusercontent.com/assets/392497/21839241/98ce0c1e-d78b-11e6-8849-4301ee9fb8b8.png)

[2017-01-11 07:22] #2813 closed

[2017-01-11 07:28] nobodxbodon commented on #3569
Fixed by https://github.com/gratipay/gratipay.com/pull/4268

[2017-01-11 07:28] #3569 closed

[2017-01-11 14:39] kytrinyx opened #4286 "What sequence of steps do I need to perform to eradicate my account?"
I've been waiting for the ability to close my account since May 2015.

There was a support thread, but I don't know the link to this.

See also:

- https://github.com/gratipay/gratipay.com/issues/3481
- https://github.com/gratipay/gratipay.com/issues/3453

I just got the email about the revised terms of service. The email says I can now close my account, however when I log in it says that I can't,

[2017-01-11 15:34] mattbk commented on #4286
(Note to self, Freshdesk ticket is https://gratipay.freshdesk.com/helpdesk/tickets/2161.)

I'm sorry for the confusion. We don't have an automated way to [close projects](https://github.com/gratipay/gratipay.com/issues/3602) yet, but we should be able to clear things out manually. Please stand by while I see what's possible.

[2017-01-11 15:35] mattbk commented on #3602
No, because we don't allow ~user accounts to be closed unless they aren't project owners, which means we need to clear out the project in order to close ~user accounts.

Closing ~user accounts seems to be the main driver ("user story"?) for people to want to close projects.

[2017-01-11 16:08] whit537 commented on #4286
Mea maxima culpa. 😞

Working on this ...

[2017-01-11 16:23] whit537 commented on #3602
Moving to a PR in #4287.

[2017-01-11 19:58] whit537 commented on #4286
I find two relevant accounts:

- https://gratipay.com/~exercism_io/
- https://gratipay.com/~kytrinyx/

I've gone ahead and closed the former. The latter had a 15¢ balance, which I've paid out via PayPal, and is also the owner of the project/team in question:

- https://gratipay.com/exercism/

I've manually marked the project as closed in the database. It will still show up on the homepage and will

[2017-01-11 20:00] kytrinyx commented on #4286
I appreciate it, @mattbk, thanks for the quick response.

@whit537 Yes, those are the two user accounts, and that is the correct team. If you close the ~kytrinyx account as soon as that is possible, that would be great. Thank you.

[2017-01-12 00:02] nobodxbodon commented on #63
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:03] nobodxbodon commented on #726
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:03] #726 closed

[2017-01-12 00:03] nobodxbodon commented on #65
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:03] #65 closed

[2017-01-12 00:04] nobodxbodon commented on #777
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:04] #777 closed

[2017-01-12 00:04] nobodxbodon commented on #417
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:04] #417 closed

[2017-01-12 00:04] nobodxbodon commented on #3855
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:04] #3855 closed

[2017-01-12 00:05] nobodxbodon commented on #3920
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:05] #3920 closed

[2017-01-12 00:05] nobodxbodon commented on #3967
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:05] #3967 closed

[2017-01-12 00:06] nobodxbodon commented on #3870
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:06] #3870 closed

[2017-01-12 00:24] nobodxbodon commented on #3889
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:24] #3889 closed

[2017-01-12 00:26] nobodxbodon commented on #2325
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:26] #2325 closed

[2017-01-12 00:31] nobodxbodon commented on #2179
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:31] #2179 closed

[2017-01-12 00:35] nobodxbodon commented on #13
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:35] #13 closed

[2017-01-12 00:37] nobodxbodon commented on #1165
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 00:37] #1165 closed

[2017-01-12 06:02] nobodxbodon commented on #1133
As the issue isn't user-oriented, reticket to inside.

[2017-01-12 06:02] #1133 closed

[2017-01-12 06:07] nobodxbodon commented on #4203
Close as there's no action item in short term.

[2017-01-12 06:07] #4203 closed

[2017-01-12 06:13] nobodxbodon commented on #3915
Seems like done in short term. BTW issues like this seem to be better in inside.gratipay.com to me.

[2017-01-12 06:20] nobodxbodon commented on #2826
Now loading takes <50ms. Guessing caching is in place. Closing.
![screen shot 2017-01-11 at 10 20 03 pm](https://cloud.githubusercontent.com/assets/392497/21879253/31943764-d84c-11e6-86f2-224daef42adb.png)

[2017-01-12 06:20] #2826 closed

[2017-01-12 06:26] nobodxbodon commented on #1424
We [decide](https://github.com/gratipay/inside.gratipay.com/issues/946) to continue using Heroku in short term.

[2017-01-12 06:26] #1424 closed

[2017-01-12 06:28] nobodxbodon commented on #947
Seems duplication of https://github.com/gratipay/gratipay.com/issues/4203

[2017-01-12 06:28] #947 closed

[2017-01-12 06:37] nobodxbodon commented on #3622
Obsolete. Sounds like a permission issue. Please reopen or re-ticket if the same happens again.

[2017-01-12 06:37] #3622 closed

[2017-01-12 06:40] nobodxbodon commented on #3135
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-12 06:40] #3135 closed

[2017-01-12 06:54] nobodxbodon commented on #808
https://github.com/gratipay/gratipay.com/commits/master/tests/ttw seems to be replacement.

[2017-01-12 06:54] #808 closed

[2017-01-12 06:58] nobodxbodon commented on #1138
As the issue isn't user-oriented, reticket to inside.

[2017-01-12 06:58] #1138 closed

[2017-01-12 07:06] nobodxbodon commented on #3493
Guess related with environment. Indeed hard to debug. Mark as obsolete.

[2017-01-12 07:06] #3493 closed

[2017-01-12 07:12] nobodxbodon commented on #154
Seems no actionable items in short term. Reticketed in https://github.com/gratipay/inside.gratipay.com/issues/977 for further discussion.

[2017-01-12 07:12] #154 closed

[2017-01-12 13:31] whit537 commented on #1138
Why is that the criterion, rather than the scope of the issue (gratipay.com vs. Gratipay as an organization, or cross-repo product questions)?

[2017-01-12 13:34] whit537 commented on #3915
Does it? How?

Why? The issue is specific to gratipay.com, no?

[2017-01-12 13:50] whit537 commented on #947
I'm pretty sure this _is_ a duplicate, but not (it would seem( of #4203.

[2017-01-12 13:50] whit537 commented on #947
Here it is: https://github.com/gratipay/inside.gratipay.com/issues/790.

[2017-01-12 16:16] whit537 commented on #236
+1 from @samtoland in private Slack, re: potentially using Gratipay for membership shares in a [platform acquisition coop](https://ioo.coop/campaigns/wearetwitter/).

[2017-01-12 16:37] sam-toland commented on #236
I think Gratispay could be used for the above co-op idea, particularly in the short-term.

+ 1 :) - we could also envisage this with Resonate too ([website](http://resonate.is), [github](https://github.com/resonatecoop)), with members making small contributions via Gratispay.

We could then link this with their Resonate account and we could count this against their Resonate membership contribution

[2017-01-12 19:14] whit537 commented on #3727
Actually, we still collect even when the route is failing. 🐭

In any case, I'm dropping this from the "Finish project basics" milestone because I think don't need to block other work on it.

[2017-01-12 19:54] whit537 commented on #3132
Gosh. Was that two years ago? 😞

[2017-01-12 20:20] mattbk commented on #3602
Testing in reality...

[2017-01-12 20:22] whit537 commented on #3602
Bug closing ~kytrinyx under #4286: https://sentry.io/gratipay/gratipay-com/issues/204048018/

[2017-01-12 20:24] mattbk commented on #3602
You beat me to it.

[2017-01-12 20:30] whit537 commented on #1669
Received in private mail:

To help communicate to consumers which companies are engaging in cross device tracking we will display a Cross Device category with vendors engaged in this activity on our opt-out/opt-in pages.

Your Friends at Ghostery

[2017-01-12 23:03] whit537 commented on #4286
@kytrinyx The https://gratipay.com/~kytrinyx/ account is now closed. I believe that finally takes care of this, I hope? Thanks for your patience, and sorry this took so long. :-(

Best wishes! :-)

[2017-01-12 23:03] #4286 closed

[2017-01-12 23:04] whit537 commented on #3602
Bug fixed and #4286 resolved!

Leaving open until we can notify the rest of the list in the project description ...

[2017-01-12 23:33] kytrinyx commented on #4286
Thank you @whit537! Indeed, I think that's it.

[2017-01-12 23:57] mattbk commented on #3602
@whit537, can you confirm we got some money back for https://gratipay.freshdesk.com/helpdesk/tickets/6453 before I close? There's no entry for it.

[2017-01-13 00:56] whit537 commented on #3602
Yeah, I don't see any money back yet. Ping again next Monday?

[2017-01-13 00:57] whit537 commented on #4286
Thanks again for being so patient with me/us. ☺️

[2017-01-13 12:25] whit537 commented on #3602
Went ahead and pinged them just now.

[2017-01-13 20:37] whit537 commented on #3602
Gosh, what a mess! The way the PayPal fees worked out, the user in question still has a -$2.50 balance, and we don't allow closing accounts unless the balance is zero. 😩

[2017-01-13 20:38] whit537 commented on #3602
Sentry: https://sentry.io/gratipay/gratipay-com/issues/204504679/.

[2017-01-14 03:33] nobodxbodon commented on #183
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/974 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 03:33] #183 closed

[2017-01-14 03:46] nobodxbodon commented on #467
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/982 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 03:46] #467 closed

[2017-01-14 03:46] nobodxbodon commented on #799
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/982 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 03:46] #799 closed

[2017-01-14 03:49] nobodxbodon commented on #1027
Site is shutting down.

[2017-01-14 03:49] #1027 closed

[2017-01-14 04:42] nobodxbodon commented on #1106
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/983 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 04:42] #1106 closed

[2017-01-14 04:43] nobodxbodon commented on #1298
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/983 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 04:43] #1298 closed

[2017-01-14 04:56] nobodxbodon commented on #2525
At least in the short term, how about just focus on what can be achieved no matter how much similar we seem to be?

[2017-01-14 04:56] #2525 closed

[2017-01-14 05:01] nobodxbodon commented on #2869
No action item for us? Please reopen if I'm wrong.

[2017-01-14 05:01] #2869 closed

[2017-01-14 05:05] nobodxbodon commented on #2794
Wild guess is this has been ironed out or become a non-issue, as masspay has been run for 2+ years every month.

[2017-01-14 05:05] #2794 closed

[2017-01-14 05:11] nobodxbodon commented on #2654
According to https://github.com/gratipay/gratipay.com/issues/1447#issuecomment-52314694, as long as we still use Typography, I don't think the efforts to update link for font file changes is worth some of users losing fonts, for now. Please reopen if needed.

[2017-01-14 05:11] #2654 closed

[2017-01-14 05:15] nobodxbodon commented on #2954
Guess this issue is obsolete.

[2017-01-14 05:20] nobodxbodon commented on #2870
Closing as no action item here. Please reopen if otherwise.

[2017-01-14 05:20] #2870 closed

[2017-01-14 05:36] nobodxbodon commented on #3202
Should be fixed by https://github.com/gratipay/gratipay.com/pull/4292 (consider it done).

[2017-01-14 05:37] nobodxbodon commented on #3512
Re-ticketed to https://github.com/gratipay/inside.gratipay.com/issues/983 for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 05:37] #3512 closed

[2017-01-14 05:41] nobodxbodon commented on #3358
Consider it's obsolete. Please reopen if otherwise.

[2017-01-14 05:41] #3358 closed

[2017-01-14 05:45] nobodxbodon commented on #3918
It seems not supported to login through bountysource account now.

[2017-01-14 05:45] #3918 closed

[2017-01-14 05:53] nobodxbodon commented on #2927
Merging [Create tutorial for new Gittip Developers](https://github.com/gratipay/gratipay.com/issues/1846)

[2017-01-14 05:54] nobodxbodon commented on #1846
Merged with "Lower the barrier for hacking on Gratipay" #2927

[2017-01-14 05:54] #1846 closed

[2017-01-14 05:59] nobodxbodon commented on #209
Merging [Team funding goals](https://github.com/gratipay/gratipay.com/issues/3057)

[2017-01-14 06:00] nobodxbodon commented on #3057
Merged with [pledge model for raising funding](https://github.com/gratipay/gratipay.com/issues/209)

[2017-01-14 06:00] #3057 closed

[2017-01-14 06:05] nobodxbodon commented on #104
Though agreeing with this, https://github.com/gratipay/gratipay.com/issues/4174#issuecomment-260133190 sounds convincing. Plus as suggested [above](https://github.com/gratipay/gratipay.com/issues/104#issuecomment-6776747), the workaround is to put in textarea.

[2017-01-14 06:05] #104 closed

[2017-01-14 06:12] nobodxbodon commented on #1059
After focusing on OS projects, current https://gratipay.com/about/ seems to already address this.

[2017-01-14 06:12] #1059 closed

[2017-01-14 06:19] nobodxbodon commented on #822
https://bitbucket.org/site/master/issues/3318 resolved. Now seems better:
![screen shot 2017-01-13 at 10 18 36 pm](https://cloud.githubusercontent.com/assets/392497/21952915/4274362c-d9de-11e6-86d8-e6c77092ae4b.png)

[2017-01-14 07:09] philipmw opened #4293 "Require every project homepage to link back to Gratipay project"
Hello. I am new to Gratipay. I was browsing its list of projects, and had a thought: anyone could create a Gratipay account and claim to be the owner of _{some useful existing project}_. For example, four days ago someone created a Gratipay project "The Debian Handbook." Seems like a worthy project. But how do I know _rhertzog_, its owner, is really the owner of this handbook?

I propose that Grat

[2017-01-14 07:24] nobodxbodon commented on #4293
As far as I know, we rely on the social profile of the project owner and the public reviewing of the project.

[2017-01-14 07:34] nobodxbodon commented on #4237
Re-ticketed to [integrate with software repositories / package manager](https://github.com/gratipay/inside.gratipay.com/issues/982) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 07:34] #4237 closed

[2017-01-14 07:41] philipmw commented on #4293
I don't think it's enough.

As a casual giver, I use Gratipay's own list of projects to get inspired and figure out to whom to give. (Gratipay isn't so popular that I can serendipitously discover Gratipay links from projects.) So I see a project on Gratipay that I recognize, but owned by a person I don't. How do I know it's legit?

Increasing my level of confidence and trust would lead to more don

[2017-01-14 08:00] nobodxbodon commented on #4293
Thanks for following up. I agree.

@mattbk @whit537 either @philipmw's suggestion, or maybe add a 'Verified' badge for those projects that has their gratipay project's link on their project's homepage/site?

[2017-01-14 08:46] Changaco commented on #3202
This issue is not related to project closing. It was about emptying all closed user accounts. However it may be too late for that now.

On the bright side, Liberapay doesn't have this kind of problem (a payout failure automatically reopens a closed account and the user is notified).

[2017-01-14 10:41] whit537 commented on #4293
Thanks for supporting open source through Gratipay, @philipmw! 😄  💃

In terms of verifying projects via links back to Gratipay, I can see how that'd be valuable in terms of building trust. I don't know if we want to _require_ it since that would add friction to the sign-up process., and we just [worked pretty hard](https://gratipay.news/from-teams-to-projects-45c46718507b) to _remove_ friction fro

[2017-01-14 10:54] whit537 commented on #2954
The work here is to login to MaxCDN, go to the assets manager for the downloads.gratipay.com push zone, and remove the file. It's crusty to try and find the ftp password to use for the assets manager so I'm reopening vs. actually doing this right now.

[2017-01-14 10:54] whit537 commented on #2954
lol

[2017-01-14 14:49] mattbk commented on #4293
Yes. It's also recommended that if you think someone is an impostor, you get in touch with us. The review ticket (linked on project page) is a good way.

I suppose we could document what was checked in order to approve projects, but that might make it easier for someone to hack the system.

[2017-01-14 14:53] mattbk commented on #4237
I know you're trying to get things organized, but why can't we have issues in both places? I assume the IG issue is going to be about prioritizing which to implement first?

[2017-01-14 16:55] nobodxbodon commented on #4237
@mattbk IMO, as there are other similar issues it's better to be planned together. In case contributor from external platform wants to make a push on this, or someone wants to just discuss about it, that assembly issue is still a good place to start with, as we'll still need to decide relative priority among those similar issues, and (if decide to start working) who from our side to work with them

[2017-01-14 21:40] nobodxbodon commented on #4293
IMO this needs to be addressed both with short-term and longer-term adjustments in maybe both our review procedure and terms to create new projects, because we need as much trusting as possible, especially at this stage where our brand is still growing. Apparently our review process is not satisfying enough, especially without disclosing our standards in reviewing, and I consider it a very real co

[2017-01-14 23:48] nobodxbodon commented on #504
Re-ticketed to [integrate with software repositories / package manager](https://github.com/gratipay/inside.gratipay.com/issues/982) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-14 23:48] #504 closed

[2017-01-14 23:54] nobodxbodon commented on #416
AFAIK it's done.

[2017-01-14 23:54] #416 closed

[2017-01-14 23:59] nobodxbodon commented on #820
IMO it's duplicate of the issues about improving https://gratipay.com/about/ page.

[2017-01-14 23:59] #820 closed

[2017-01-15 01:29] mattbk commented on #416
@nobodxbodon, you should check the grtp.co repo amd reticket widget stuff there if it needs to be.

[2017-01-15 03:33] nobodxbodon commented on #416
@mattbk actually I checked the one served on shields.io, and seemed it's showing amount receiving. Thus I closed this one. Sorry I should have made it clear.

[2017-01-15 05:12] nobodxbodon commented on #271
Re-ticketed to [support more ways to login](https://github.com/gratipay/inside.gratipay.com/issues/983) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-15 05:12] #271 closed

[2017-01-15 05:16] nobodxbodon commented on #879
Reticketed to widget repo.

[2017-01-15 05:16] #879 closed

[2017-01-15 05:22] nobodxbodon commented on #1661
Reticketed to widget repo.

[2017-01-15 05:22] #1661 closed

[2017-01-15 05:29] nobodxbodon commented on #1119
As we have github ribbon on website, it's one click away from creating issue here. Closing until we realize we need broader user feedback.

[2017-01-15 05:29] #1119 closed

[2017-01-15 05:35] nobodxbodon commented on #2221
Re-ticketed to [support more means of payin and payout](https://github.com/gratipay/inside.gratipay.com/issues/974) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-15 05:35] #2221 closed

[2017-01-15 05:45] nobodxbodon commented on #3065
Seems to be not reproducible.
![screen shot 2017-01-14 at 9 44 31 pm](https://cloud.githubusercontent.com/assets/392497/21960488/b5f9278c-daa2-11e6-9fed-438697cdd561.png)

[2017-01-15 05:45] #3065 closed

[2017-01-15 06:02] nobodxbodon commented on #718
Re-ticketed to [support more means of payin and payout](https://github.com/gratipay/inside.gratipay.com/issues/974) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-15 06:02] #718 closed

[2017-01-15 06:05] nobodxbodon commented on #1173
Not reproducible after website redesign.

[2017-01-15 06:05] #1173 closed

[2017-01-15 06:12] nobodxbodon commented on #918
Consider obsolete as I don't think there's a no-tip option now. Please reopen if I'm wrong.

[2017-01-15 06:12] #918 closed

[2017-01-15 06:15] nobodxbodon commented on #1587
Re-ticketed to [integrate with software repositories / package manager / crowdfunding services](https://github.com/gratipay/inside.gratipay.com/issues/982) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-15 06:15] #1587 closed

[2017-01-15 06:23] nobodxbodon commented on #1539
Quick search in code base shows typecheck only used in gratipay/billing/exchanges.py now.
Please reopen if further discussion is still needed.

[2017-01-15 06:23] #1539 closed

[2017-01-15 06:32] nobodxbodon commented on #1333
Re-ticketed to [integrate with software repositories / package manager / crowdfunding services](https://github.com/gratipay/inside.gratipay.com/issues/982) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-15 06:32] #1333 closed

[2017-01-15 06:38] nobodxbodon commented on #1233
Not sure about the scope, but based on https://github.com/gratipay/gratipay.com/issues/1233#issuecomment-21575343, sounds like patreon.com. As we focus on OS now, consider this obsolete.

[2017-01-15 06:38] #1233 closed

[2017-01-15 06:40] nobodxbodon commented on #1229
Close according to comment above.

[2017-01-15 06:40] #1229 closed

[2017-01-15 06:45] nobodxbodon commented on #2182
Please reopen in case there's clear reason.

[2017-01-15 06:45] #2182 closed

[2017-01-15 06:52] nobodxbodon commented on #1589
As I understand we only support individual giver now. Consider obsolete.

[2017-01-15 06:52] #1589 closed

[2017-01-15 06:59] nobodxbodon commented on #1576
Going with [Beancount](https://github.com/gratipay/finances/pull/35).

[2017-01-15 06:59] #1576 closed

[2017-01-15 07:03] nobodxbodon commented on #2425
We don't support login through BountySource now.

[2017-01-15 07:03] #2425 closed

[2017-01-15 07:12] nobodxbodon commented on #2353
I suppose there's no need to maintain old blog.

[2017-01-15 07:13] nobodxbodon commented on #2410
Consider obsolete.

[2017-01-15 07:13] #2410 closed

[2017-01-15 07:17] nobodxbodon commented on #2267
Re-ticketed to [support more ways to login](https://github.com/gratipay/inside.gratipay.com/issues/983) for further discussion and planning. After deciding on concrete implementation plan and dev work starts, this will be reopened for tracking purpose.

[2017-01-15 07:17] #2267 closed

[2017-01-15 07:22] nobodxbodon commented on #2816
With github ribbon and simple mapping described [above](https://github.com/gratipay/gratipay.com/issues/2816#issuecomment-59495755), IMO it's good enough for anyone who wants to check out code.

[2017-01-15 07:22] #2816 closed

[2017-01-15 07:24] nobodxbodon commented on #2727
Fixed:
![screen shot 2017-01-14 at 11 23 40 pm](https://cloud.githubusercontent.com/assets/392497/21960947/86476fcc-dab0-11e6-991a-3a5b862a0712.png)

[2017-01-15 07:24] #2727 closed

[2017-01-15 07:33] nobodxbodon commented on #2550
I see complexities like receiving pledges without project owner's consent, and I believe current procedures are designed to avoid this. Plrease reopen if I'm wrong.

[2017-01-15 07:33] #2550 closed

[2017-01-15 17:17] nobodxbodon commented on #2817
Not reproducible now:
![screen shot 2017-01-15 at 9 16 53 am](https://cloud.githubusercontent.com/assets/392497/21964585/6ddc204c-db03-11e6-9ad2-d2bc248923bd.png)

[2017-01-15 17:17] #2817 closed

[2017-01-15 17:21] nobodxbodon commented on #2818
Not reproducible now (checked in both chrome and ff):
![screen shot 2017-01-15 at 9 19 50 am](https://cloud.githubusercontent.com/assets/392497/21964604/01b02b7e-db04-11e6-9f24-6c53c9e36253.png)

[2017-01-15 17:21] #2818 closed

[2017-01-15 21:36] nobodxbodon commented on #2842
If the issue is still there, could you provide the url and/or screenshot please?

[2017-01-15 22:09] nobodxbodon commented on #2919
Seems user won't be able to sign into the converted account:
![screen shot 2017-01-15 at 2 00 23 pm](https://cloud.githubusercontent.com/assets/392497/21966594/1064c68a-db2b-11e6-9f21-e667853d85aa.png)
If the consequence is been unable to login to gratipay using the github account, I suppose admin can already handle that. Please reopen if I'm wrong.

[2017-01-15 22:09] #2919 closed

[2017-01-15 22:34] nobodxbodon commented on #4293
Similar suggestion from [Organisations should have twitter-like verification](https://github.com/gratipay/gratipay.com/issues/2946):

[2017-01-15 22:35] nobodxbodon commented on #2946
Merged with #4293

[2017-01-15 22:35] #2946 closed

[2017-01-15 23:23] nobodxbodon commented on #3315
Close with the [same reason](https://github.com/gratipay/gratipay.com/issues/1119#issuecomment-272674868).

[2017-01-15 23:23] #3315 closed

[2017-01-15 23:39] nobodxbodon commented on #3558
Merging similar thoughts [retry on Fridays](https://github.com/gratipay/gratipay.com/issues/1637)

[2017-01-15 23:39] nobodxbodon commented on #1637
Merged.

[2017-01-15 23:39] #1637 closed

[2017-01-15 23:45] nobodxbodon commented on #3610
https://gratipay.com/~nobodxbodon/giving/ works now. Guess not reproducible.

[2017-01-15 23:45] #3610 closed

[2017-01-15 23:50] nobodxbodon commented on #4174
I'll start to work on this, because it's apparently causing confusion like @tswast mentioned in https://github.com/gratipay/gratipay.com/issues/3627#issuecomment-245669617:

[2017-01-16 01:27] whit537 commented on #3602
All set! #4291/#4292 deployed and final account closed! 👍

[2017-01-16 01:27] #3602 closed

[2017-01-16 13:03] whit537 commented on #4293
This is no longer true with Gratipay 2.0. Our project review process means that _every_ project is verified.

[2017-01-16 13:13] whit537 commented on #1589
More of a duplicate of https://github.com/gratipay/gratipay.com/issues/3666.

[2017-01-16 13:14] whit537 commented on #2353
Sure there is! We link to old blog posts from new ones regularly, and they are still indexed in search engines which means people can find that content. We should do our best to maintain those pages, imo.

[2017-01-16 17:17] whit537 commented on #4148
[Conversation](http://gratipay.slackarchive.io/gratipay/-/1484261894.002684/1484586804.002789/1484586154002766/) about product developement and wire-framing, might try https://gomockingbird.com/.

[2017-01-16 17:56] mattbk commented on #4293
It would definitely make that part of the review process easier if people applied and then added a link to their project profile. What's the incentive for a project to do that?

[2017-01-16 18:52] mattbk opened #4295 "Disallow slashes and other naughty strings in project names"
Per some security researchers, we get project names like this:
- https://github.com/gratipay/project-review/issues/313 /www.evil.com/user_ip.php?gratipay
- https://github.com/gratipay/project-review/issues/312 //www.google.com/?><x>
- https://github.com/gratipay/project-review/issues/311 //www.google.com/?

All of these break the URL, so the project page can't be reached and needs to be manually r

[2017-01-16 20:52] whit537 commented on #4293
Getting on Gratipay at all, if we take @philipmw's suggestion. 😆

[2017-01-16 20:54] whit537 commented on #4295
@dmk246 @EdOverflow Would one of you be able to cross-link this to the relevant HackerOne ticket?

[2017-01-16 21:03] EdOverflow commented on #4295
@whit537 Done. https://hackerone.com/reports/176396

[2017-01-16 22:06] whit537 opened #4296 "—"
Derp. Go to https://github.com/gratipay/inside.gratipay.com/issues/987.

[2017-01-16 22:06] whit537 commented on #4296
[FOCUS](https://www.youtube.com/watch?v=I25qrnGCgo0#t=30m50s):

- [x] find early adopters
- [x] offer testing
- [x] currency testing
- [ ] utility testing
- [ ] scale to fit

![five-experiments](https://cloud.githubusercontent.com/assets/134455/22000136/904ef8da-dc0b-11e6-9464-7df32929489d.png)

[2017-01-16 22:23] whit537 commented on #4296
I consider us to be at the utility testing phase. Here is my reasoning:

1. **Find early adopters.** The state of the art is OpenCollective, which is essentially Gittipay 1.0: a couple dozen companies giving low six figures a year in aggregate. A few popular projects (webpack) receive most of the money. All of the companies on Gittipay 1.0 and OpenCollective are early adopters. We have found the.

[2017-01-16 22:35] whit537 commented on #4296
Actually, we are at (5), because Gittipay 1.0/OpenCollective was/is the manual step. Utility testing is done. Now we need to scale by automating and streamlining the process of pairing companies with projects. This is our chance to get back in the game!

[2017-01-16 23:32] whit537 commented on #4148
Closing per https://github.com/gratipay/inside.gratipay.com/issues/987#issuecomment-272985143.

[2017-01-16 23:34] #4148 closed

[2017-01-16 23:37] whit537 commented on #4195
Closing this issue since the idea is captured on https://github.com/gratipay/inside.gratipay.com/issues/987. We'll make a PR when we get to it.

[2017-01-16 23:40] whit537 opened #4297 "Spec out claim/unclaim/reclaim packages"
-------------------------------

⚠️  **Flight deck for the [Claim/unclaim/reclaim packages](https://github.com/orgs/gratipay/projects/14?fullscreen=true) project moved to https://github.com/gratipay/gratipay.com/pull/4305.** ⚠️

-------------------------------

## Todo

- [ ] set up npm syncing—besides just needing to stay in sync, people are going to want to update the email address on file in th

[2017-01-17 05:45] #4296 closed

[2017-01-17 06:04] nobodxbodon commented on #3107
Merging with [Make it easier to add new recipients on the "Giving" screen](https://github.com/gratipay/gratipay.com/issues/716). Maybe a more thorough approach is to allow all of CRUD.

[2017-01-17 06:05] nobodxbodon commented on #716
Merged with https://github.com/gratipay/gratipay.com/issues/3107.

[2017-01-17 06:05] #716 closed

[2017-01-17 16:42] mattbk commented on #4295
Potentially useful? https://github.com/minimaxir/big-list-of-naughty-strings

[2017-01-17 16:43] mattbk commented on #4195
Oh gosh, please don't ask me for legal advice. :fearful:

[2017-01-17 17:52] mattbk commented on #4293
I have no problem documenting review steps if @gratipay/security says that's okay. If it helps, we can link to http://inside.gratipay.com/howto/review-accounts.

[2017-01-18 06:50] #768 closed, assigned to nobody

[2017-01-18 07:00] nobodxbodon commented on #709
It depends on other non-tech issues like defining employee/payroll/contract. IMO the current 'project' section in user profile is enough.

[2017-01-18 07:05] #524 closed, assigned to nobody

[2017-01-18 07:15] nobodxbodon commented on #333
As ntippers column is [dropped](https://github.com/gratipay/gratipay.com/pull/3730), I don't think this will be done until a full rework of stats page, which will be a whole new project and not in foreseeable future.

[2017-01-18 07:15] #333 closed

[2017-01-18 10:42] whit537 opened #4299 "Separate project membership from takes"
Reticketing from https://github.com/gratipay/gratipay.com/issues/3144#issuecomment-71684060:

[2017-01-18 10:46] whit537 commented on #4299
+1 from @kaguillera at https://github.com/gratipay/gratipay.com/issues/3144#issuecomment-71705641 and @nobodxbodon at https://github.com/gratipay/inside.gratipay.com/issues/986#issuecomment-272980954. @dmk246 is the third one right now who is doing significant work but for her own reasons is not taking money. These folks are important members of our team even if they're not taking money right now.

[2017-01-18 10:52] whit537 commented on #709
Reopening because I still like this idea. Basically https://gratipay.com/Gratipay/distributing/ would drive this. https://github.com/gratipay/gratipay.com/issues/4299 is relevant.

[2017-01-19 05:41] maxkoryukov opened #4300 "Permissions, required for Bitbucket integration"
Hello! Thank you for the service!

I've tried to connect my bitbucket acc to the gratipay profile, and stopped on the list of required permissions: why so much???

### Screenshot:

![selection_017](https://cloud.githubusercontent.com/assets/8887971/22095057/a8e347e6-de33-11e6-9f5d-a330e6444916.jpg)

[2017-01-19 05:55] nobodxbodon commented on #822
Obviously I overlooked the fact that the permissions are over-broard, as I did some research after receiving another [user feedback](https://github.com/gratipay/gratipay.com/issues/4300).

According to https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html, seems we only need Account permission? Shall we adjust this ASAP, as it seems to be a quick config change?

[2017-01-19 05:58] maxkoryukov commented on #4300
hmm, seems, like this is just a duplicate. @nobodxbodon, Should I close this?

[2017-01-19 06:00] nobodxbodon commented on #4300
Thanks a lot for the feedback. No worries to keep it open for now. After we fix the issue, we'll close them all together. Seems to me the fix should be a quick config change, but @whit537 and others would know better.

[2017-01-19 09:15] whit537 commented on #4300
Let's go ahead and use https://github.com/gratipay/gratipay.com/issues/822, yes.

[2017-01-19 09:15] #4300 closed

[2017-01-19 09:45] whit537 commented on #822
Actually, it requires upgrading from their [OAuth 1.0](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html#OAuthonBitbucketCloud-OAuth1.0) implementation to their [OAuth 2.0](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html#OAuthonBitbucketCloud-OAuth2.0) implementation. Good to know they have that now! :-)

[2017-01-19 09:49] whit537 commented on #822
No worries, so did I. 🎉  retracted! :)

[2017-01-19 16:26] mattbk commented on #4293
We could add "link back to your project page on Gratipay" as a call to action when the form is successfully completed at https://github.com/gratipay/gratipay.com/blob/7fcd9df46f6894ea80886478619cf443817d6631/www/apply.spt

[2017-01-19 18:15] whit537 commented on #4297
Here are some [mockups](https://gomockingbird.com/projects/j8evmau/4gXVnC) for claiming packages:

![screen shot 2017-01-19 at 1 14 43 pm](https://cloud.githubusercontent.com/assets/134455/22119370/5fdd84ec-de49-11e6-88b4-251d7ee4057a.png)
![screen shot 2017-01-19 at 1 14 59 pm](https://cloud.githubusercontent.com/assets/134455/22119371/5fe28a3c-de49-11e6-8c3b-9957c1a95835.png)
![screen shot 2017-

[2017-01-19 18:18] whit537 commented on #4297
The list of emails in the second mockup would be the ones we pull from the package.json. Perhaps we can indicate somehow (is bold enough?) that one an email is already added/verified/primary for the participant.

Are we cool with autoapproving all npm packages as projects on Gratipay?

[2017-01-19 18:20] whit537 commented on #4297
Once a package is claimed, it behaves _almost_ like a regular project. Claimed package profiles look like a project page. Participants can give to them, and owners can edit them. They can be unclaimed just like projects can be closed. Claimed projects show up on the homepage under the various tabs, and in search results with other projects.

Here are the differences:

- they still live under `/npm

[2017-01-19 19:02] mattbk commented on #4297
Is an owner created at some point during the claiming process?

[2017-01-19 19:45] maxkoryukov commented on #4300
@whit537 @nobodxbodon fast and precise interaction;) thank you!

[2017-01-19 19:47] nobodxbodon commented on #822
Based on the document, it seems not so complex but still some workload to setup OAuth 2.0 consumer? How about the workload on coding on our side? Anything I can help to work this out?

[2017-01-19 20:25] nobodxbodon commented on #4297
To make sure about the context of the mocks,

1. Is the owner notified by email about such projects to be claimed? Otherwise how do they know of their existence?
2. After step 1, new user needs to sign up manually before they can reach step 2? Could we fast-track it using the email used to notify them in question 1 above?
3. What's the purpose of sending confirmation link in step 2?

[2017-01-19 20:52] whit537 commented on #4297
Maybe packages that are older than 90 days? Or that have at least N downloads?

[2017-01-19 20:53] whit537 commented on #4297
Without some constraints, it would be trivial to use npm to maliciously bypass our review process.

[2017-01-19 20:56] nobodxbodon commented on #4297
Seems the flow is different from our current practice of creating account before creating project. Could we carry out reviewing when user claims project?

[2017-01-19 21:06] nobodxbodon commented on #4297
And some more:

- during claiming, beside creating account, user needs to create a team if not it's existed yet?
- user needs to do this N times to claim N projects?
- can owner be transferred already?

[2017-01-19 21:14] whit537 commented on #4297
Here's a description of the new flow represented in the mockups:

1. hit /on/npm/react/ as anon, see sign in button
1. sign in
1. hit /on/npm/react/ as auth, see confirmation form
1. click "Send confirmation link"
1. hit /on/npm/react/send-confirmation-link ajax
1. see notification "Check your email"
1. receive email
1. click link
1. hit /on/npm/react/claim
    1. verify the address if unverified

[2017-01-19 21:35] mattbk commented on #4297
https://github.com/gratipay/gratipay.com/issues/4297#issuecomment-273855517

https://github.com/gratipay/gratipay.com/issues/3515

[2017-01-19 21:54] nobodxbodon commented on #4297
@mattbk excuse me I'm not sure where to look at through your link. I also checked the slack channel briefly but I don't see any significant block of discussion about this on slack.

I guess it's not a blocker, but very likely need to be addressed soon after launching this, especially when there are more multi-developer projects?

So if a user is leading a 5-dev team for a project, does she claim i

[2017-01-19 21:57] whit537 commented on #4297
Yes, at step (2).

No. I think it'll be okay to personally email a few folks (top maintainers, npm itself), but I don't think it's right to blast all of these email addresses we have from the npm database. As @mattbk mentions, we discussed this on slack (though that slackarchive links appear [broken](https://twitter.com/whit537/status/816396064806801409)? 😞 ).

Folks are going to hear about this f

[2017-01-19 22:00] whit537 commented on #4297
There are no team members yet except for Gratipay. Generalizing twyw is https://github.com/gratipay/gratipay.com/issues/3433, and it is currently scheduled for the great and glorious future beyond [Make it easier](https://github.com/gratipay/inside.gratipay.com/issues/987). Maybe next year? Year after?

[2017-01-19 22:03] whit537 commented on #4297
Since we are getting bad links from SlackArchive, try this:

https://gratipay.slack.com/archives/gratipay/p1484851952003229

[2017-01-19 22:16] nobodxbodon commented on #4297
@whit537 thanks for addressing them again here! Some thoughts about the new flow:

the separate 'sign-in' in the message is duplicate in function with the sign-in on top right

Trivial thing: if the user is already signed in, and we find a matching email, we select that as default value?

Related to your comment:

How does this work? N owners for one project?

Are steps below to unclaim a package?

[2017-01-19 22:19] whit537 commented on #4297
Is that bad? We do that fairly often across the site.

I like it! :-)

Not sure what you mean. After a project is unclaimed, it has no owner. When it is reclaimed, it has one owner (the reclaimer), who may or may not be the same as the previous owner. Are we on the same page?

Yes. Yes, because otherwise we end up with a two-year wait as with #3602.

[2017-01-19 22:20] whit537 commented on #4297
I've added 16.i.a to https://github.com/gratipay/gratipay.com/issues/4297#issuecomment-273900610 to hopefully make this clearer.

[2017-01-19 22:33] nobodxbodon commented on #4297
Just to make sure, through the new link, are we reusing the dropdown to select multiple social profile in the existing button?

I asked because I misunderstood your comment below. I thought you meant - after user A claims the project, when user B tries to claim a project again, she will see user A's email being highlighted.
[code]

lol make sense. How about change title to "cliam/unclaim package"?

[2017-01-20 01:22] whit537 commented on #4297
Yes! 💃

Done!

[2017-01-20 01:34] whit537 commented on #822
We do have an OAuth2 abstraction, which we use for other providers such as GitHub. Ideally this is an hour or two of work.

[2017-01-20 01:39] whit537 commented on #4293
That works for me, but before we invest too much energy here, I'm interested to hear again from @philipmw: Does knowing that we review and verify _all_ projects on Gratipay increase your trust at all?

[2017-01-20 01:53] #4174 closed

[2017-01-20 02:10] whit537 commented on #4297
I think we should try this in a more [gitflow](http://nvie.com/posts/a-successful-git-branching-model/) style where we maintain a long-lived project branch that we merge to `master` when the whole thing is done like we did on https://github.com/gratipay/gratipay.com/pull/4221, vs. the small PRs direct to master and deploy that we did under https://github.com/gratipay/gratipay.com/issues/3994.

[2017-01-20 02:15] whit537 commented on #4297
Though I don't know, if we start with the most deeply nested levels in https://github.com/gratipay/gratipay.com/issues/4297#issuecomment-273900610 then I believe we're looking at our db layer. I like the pattern of deploying those changes first, and then deploying HTTP API and UI changes in subsequent stages.

[2017-01-20 02:22] whit537 commented on #4297
On the other hand, there may be something to be said for building from the outside _in_ a well (!!!), since the outside is the risky part (right?). Stub out data in JSON endpoints, etc. just to get the UI working. Once the UI feels right we start plumbing the depths. Hmm ... :thinking:

[2017-01-20 03:19] balupton commented on #236
For my use case. I can probably ask our sponsors for their gratipay user ID and API key.

`/~username/payment-instructions.json` provides the duration of a tip - however, it is a bit limited, and the `ctime` and `mtime` probably aren't useful - a tip that was active in the past, then cancelled, then created again, probably would not have the same `ctime` as the original

Would be nice if there was

[2017-01-20 04:44] nobodxbodon commented on #4297
This sounds more 'agile', and after deciding the endpoints/API based on the settled UI design, UI and backend can work in parallel.

[2017-01-20 18:39] whit537 commented on #4297
I talked to an acquaintance here at this coworking space, who was at CreditKarma for 8 years (first hire, managed a team of 100 when he left), and he seems to prefer building from the outside in as well.

[2017-01-20 19:27] mattbk commented on #4299
Would this include adding members who aren't legally eligible for takes (e.g., who haven't completed verification or who can't accept American money)? I would see this working as being on the team but having inability to set takes at all.

[2017-01-20 19:28] whit537 commented on #4299
I had thought that this would be up to the user—they can take or not take as they choose. But I guess since taking depends on filing national identity, then yes, someone could be a member of the project but not capable of taking.

[2017-01-20 19:48] whit537 commented on #236
Alright! Some (good, hopefully? :) news! At https://github.com/gratipay/inside.gratipay.com/issues/987#issuecomment-274151963 we've decided to make this our next development focus. 👍

Wrapping my head around conversation to date and thinking about how to go about this ...

[2017-01-20 19:54] whit537 commented on #236
For @balupton's API case it probably makes sense to tie into the [existing history API](https://github.com/gratipay/gratipay.com/blob/2040/www/~/%25username/history/export.spt).

[2017-01-20 19:55] mattbk commented on #4299
I was thinking specifically of @kaguillera, yes.

[2017-01-20 19:57] whit537 commented on #2695
#4135 took a wrong turn at Albuquerque, which landed us at https://github.com/gratipay/inside.gratipay.com/issues/987, and back here via https://github.com/gratipay/inside.gratipay.com/issues/987#issuecomment-274151963. 😄

[2017-01-20 20:20] whit537 commented on #236
Hmm ... we'd have to specifically build it that way, which would be more complicated.

[2017-01-20 20:29] whit537 commented on #236
Prior art: https://github.com/gratipay/gratipay.com/pull/3112.

[2017-01-20 22:08] whit537 commented on #236
Soooo ... what emerged on #3112 (w/ links back to this thread) is that this gets reeeeeeeeal complicated real quick. Are we looking at a Facebook-style [fine-grained sharing implementation](https://www.facebook.com/about/sharing)? That sounds like a nightmare to me, both from a user experience and privacy angle, and in terms of implementation difficulty and maintenance burden. To avoid that, we ne

[2017-01-20 22:41] whit537 commented on #236
Let's take it that:

- **`sharing`** is a property of **payment instructions** (individual payments also have a `sharing` property, which is the `sharing` state of the payment instruction that led to the payment, at the time of the payment).
- Givers can express a default `sharing` setting that applies to new payment instructions.
- Givers can override the `sharing` default per-instruction.
- Rece

[2017-01-20 22:43] whit537 commented on #236
A couple further lines of inquiry:

- What do other companies do? E.g., I think Open Collective is fixed at name and amount both public. Patreon? Kickstarter? Etc.?
- Can we simplify via _profiles_? E.g., "company" profile would preselect a certain configuration, giver willing to share everything with everyone.

Bit of a mess. 😳

[2017-01-20 23:15] tswast commented on #236
My preference as a giver would be to allow sharing identity, optionally the amount, with the recipient.

It hadn't occurred to me to share it publicly, but then again I might not have stepped as far into radical openness.

[2017-01-20 23:24] nobodxbodon commented on #822
@whit537 could you give some pointers for any work that I could handle, without sharing your account/password? As it directly impacts user enrollment, IMO it's high priority.

[2017-01-21 00:17] whit537 commented on #236
Actually, I think the way to simplify is by cutting out the variation on the _receiver_ side.

Back at the beginning, Gittip receivers were _all_ individuals, and payments were understood to be no-strings-attached mini-genius grants. Giving was a very personal act, very close to a positive judgement of someone's worth _as a person_. Retracting a payment was therefore fraught with interpersonal per

[2017-01-21 00:19] whit537 commented on #236
Hopefully we can offer both identity and amount options without too much clutter. 👍

Interesting. I actually [don't like the term "radical" 😝  and] wouldn't see this as necessarily that radically open. Don't most crowdfunding sites like Kickstarter, Patreon, and Open Collective default to public sharing?

[2017-01-21 00:21] whit537 commented on #236
@balupton @sam-toland What's your feedback from the receiver side?

[2017-01-21 00:43] whit537 commented on #822
Check out `gratipay/elsewhere/bitbucket.py` for the implementation and `gratipay/elsewhere/github.py` for an OAuth2 example.

[2017-01-21 01:43] mattbk commented on #236
I disagree that this should be the default, because this is the antithesis (if that's not too strong a word) of what Gratipay has been about. Whether you were giving to an individual or are now giving to a project, the gift has been a gift without strings because the giver was/is anonymous.

I don't know the technical solution, though, especially if the project has the option to toggle off/on anon

[2017-01-21 04:54] balupton commented on #236
Sounds good to me. Is a simplified version that still accomplishes the actual needs, versus some imaginary desires, of what I proposed at https://github.com/gratipay/gratipay.com/issues/236#issuecomment-24893774

What does this imply? I am not familiar with what Gratipay considers a payment instruction. I think:

- a giver should be able to change their privacy setting of a payment
- a change of p

[2017-01-21 09:23] Changaco commented on #822
There's no need to switch to OAuth2, permissions are configurable on Bitbucket. Here's what we ask for Liberapay:

![spectacle h30368](https://cloud.githubusercontent.com/assets/1581590/22173434/20cb4368-dfc3-11e6-9e52-9177b006c761.png)

And here's what I see when I try to connect a Bitbucket account:

![spectacle m30399](https://cloud.githubusercontent.com/assets/1581590/22173446/8b9fa35a-dfc3-11

[2017-01-21 12:49] whit537 commented on #822
I've changed our settings. Care to retry, @maxkoryukov?

P.S. For the record, our Bitbucket app is under "Settings > Access Management > OAuth > OAuth consumers" for my personal Bitbucket account.

[2017-01-22 06:45] nobodxbodon commented on #236
+1 to @whit537's proposal and the thoughts behind in https://github.com/gratipay/gratipay.com/issues/236#issuecomment-274213874. Additionally, as the emphasis is more on [new company givers](https://github.com/gratipay/inside.gratipay.com/issues/987), the trimming down seems particularly proper to me.

[2017-01-22 19:47] maxkoryukov commented on #4300
Great;)

![selection_018](https://cloud.githubusercontent.com/assets/8887971/22185337/82f6529c-e105-11e6-9d9b-c7eae978670a.jpg)

[2017-01-22 19:50] maxkoryukov commented on #822
@whit537 , works great!

I've connected BitBucket already;)

[2017-01-23 02:34] mattbk commented on #236
I've reconsidered. The proposal at https://github.com/gratipay/gratipay.com/issues/236#issuecomment-274213874 sounds good to me. That's what people want now, and if there is groundswell of support for going back to the Gittip version of anonymity, I'd be behind adding that functionality, but for now let's move forward.

[2017-01-23 03:12] philipmw commented on #4293
Hello. Thanks for re-asking me for my feedback -- I am impressed with Gratipay's openness.

I learned from this discussion that Gratipay vets every project. That does add trust, if you advertise it.

But -- why _wouldn't_ a project want to link from themselves to Gratipay? You suggest that it adds friction, but it adds so much value to both parties! To the customer, it simply increases donations.

[2017-01-23 07:15] nobodxbodon commented on #4196
Please reopen if there's new finding which is not covered by https://github.com/gratipay/gratipay.com/pull/4197

[2017-01-23 07:15] #4196 closed

[2017-01-23 07:19] nobodxbodon opened #4303 "one-page issue index"
Similar ongoing attempt as https://github.com/gratipay/inside.gratipay.com/issues/970.

- bug
  - #4274 History page balances are messed up
  - #4168 Disconnect PayPal gives "Looks like you've found a bug! Sorry for the inconvenience, we'll get it fixed ASAP!"
  - #4115 ID type field not behaving on identity form
  - #3942 Fix max image size in error messages
  - #3921 teach payday how to deal wit

[2017-01-23 15:17] whit537 commented on #4263
Interesting post on "[GitHub's post-CSP journey](https://githubengineering.com/githubs-post-csp-journey/)."

[2017-01-23 15:24] whit537 commented on #822
Nice! I've downgrade the scope of this ticket again and am closing it.

[2017-01-23 15:24] #822 closed

[2017-01-23 15:31] EdOverflow commented on #4263
Fascinating read! Thank you for sharing @whit537.

[2017-01-23 15:50] whit537 commented on #4293
I definitely think we should _encourage_ new projects to link back to their Gratipay page as part of the project onboarding flow, but I don't think we should _require_ it.

All projects have an approved/review/rejected indicator, with a link to the review ticket for that project. If that's not clear enough then we should feed that into our next redesign of the project profile page.

We've got two

[2017-01-23 16:04] mattbk commented on #4293
I think the link back (to complete the loop) falls through the cracks. In some cases, I think this is because the review period stops the general flow. Even though most projects are accepted, the uncertainty means that users don't want to add a link to the project page on Gratipay until after they approve, and after a week goes by there are other things they are busy with.

[2017-01-23 16:32] mattbk commented on #4293
@philipmw, if we add a request to add a link back to Gratipay when we approve a project, would that suffice to close this issue for now? I would add this as an instruction at http://inside.gratipay.com/howto/review-projects, e.g., "When you approve a project, notify the owner via GitHub review issue or email, and request that they add a link to their Gratipay profile on their website."

Rather tha

[2017-01-24 04:07] nobodxbodon commented on #4132
May be part of https://github.com/gratipay/inside.gratipay.com/issues/993?

[2017-01-24 06:36] nobodxbodon commented on #3989
Please reopen if this still happens.

[2017-01-24 06:36] #3989 closed

[2017-01-24 12:06] whit537 commented on #4132
We already have this [in the FAQ](https://gratipay.com/about/features/#receiving-less), fwiw.

[2017-01-24 12:15] whit537 commented on #4132
Removing `TeamX` because the audience for this note is users, no?

[2017-01-24 12:17] whit537 commented on #3989
I'm not finding a good history view in Travis for the master branch. I _think_ the past few have been okay? 😕

[2017-01-24 19:37] whit537 commented on #236
Our `payment_instructions` holds the abstract info about weekly recurring payments. The `payments` table holds the actual payments in a given week. (For completeness, the `exchanges` table holds transactions between Gratipay and the outside world, e.g., PayPal.)

Future payments: yes. Past payments, I'm not so sure. I was thinking not. Once that info is out there, can it really be taken back? With

[2017-01-24 19:49] whit537 commented on #236
I should also say that I'm reaching some clarity that the driver here from the _receiver_ side is being able to provide specific rewards/products/services to specific givers. This is *not* on the critical path to providing reputational benefit to companies for supporting open source, which we were able to do with seeming adequacy under Gittipay 1.0 by recognizing company giving _in aggregate_, and

[2017-01-24 20:37] tswast commented on #236
Yes, actually #2521 would be sufficient for my thoughts. A backer update tool could be used to share patreon-like rewards with donors.

[2017-01-24 20:41] whit537 commented on #2521
@tswast at https://github.com/gratipay/gratipay.com/issues/236#issuecomment-274930973:

[2017-01-24 20:52] whit537 commented on #236
Removing from the [Recognize companies](https://github.com/orgs/gratipay/projects/16?fullscreen=true) project, therefore.

[2017-01-24 21:35] whit537 commented on #4297
Moving to an integration PR in https://github.com/gratipay/gratipay.com/pull/4305 ...

[2017-01-24 21:36] #4297 closed

[2017-01-25 08:45] nobodxbodon commented on #4297
When there are multiple contact emails for one package, indicating there are more than one devs, do we send notification emails out to all of them in case the package is claimed by one of the email?

[2017-01-25 09:08] nobodxbodon commented on #3651
As far as I understand https://github.com/gratipay/gratipay.com/issues/3539#issuecomment-146504936, the $28,402.62 was what's left of the escrow without knowing who to pay to. I suppose it will stay in our bank account until someone claims part of it somehow?

Besides, is the $130,000 the amount gratipay 1.0 owe receivers? Why the ~100k difference (130,000 - 28,402)?

[2017-01-25 13:28] whit537 commented on #3651
The $28,402.62 was what was left "in our Balanced account." Our escrow is divided amongst several physical accounts, [currently two](http://inside.gratipay.com/howto/shuffle-escrow). Our current escrow liability is $106,742.58, per the [stats page](https://gratipay.com/about/stats) (once we [catch up our books](https://github.com/gratipay/finances/issues/3) then that number should reconcile with o

[2017-01-25 13:28] #3651 closed

[2017-01-26 02:32] andrasfuchs opened #4310 "Feautre Request: send and receive bitcoin"
Please add support to bitcoin payments.

[Braintree also supports it now](https://www.braintreepayments.com/payment-methods/accept-bitcoin), but I guess they would have a cut.

[2017-01-26 13:42] whit537 commented on #4310
Thanks, @andrasfuchs. I've noted this on https://github.com/gratipay/inside.gratipay.com/issues/974, which is where we've recently started collecting requests such as this.

[2017-01-26 13:42] #4310 closed

[2017-01-26 16:39] kaguillera commented on #4297
I was wondering the same thing. Which email/person do we allow to claim the package.

[2017-01-28 12:35] rugk opened #4311 "Allow SVG images for product/service image"
Currently we can only use JPG or PNG. It would however be nice to use vector-images (which are usually far superior to these pixel images) - in particular SVG.

[2017-01-28 12:45] EdOverflow commented on #4311
Gratipay team, please keep in mind that SVG files can contain code and therefore we should be very careful if we decide to incorporate this feature.

[2017-01-28 17:52] EdOverflow commented on #3837
I would recommend using bcrypt instead of PBKDF2 for password hashing, because the latter can be better accelerated with GPUs. There is a well maintained implementation of bcrypt by PyCA: https://github.com/pyca/bcrypt.

[2017-01-30 17:43] JessaWitzel commented on #3736
Does the Featured Tab count as a leaderboard or is that something else we want to implement?

[2017-01-30 22:29] whit537 commented on #3736
It's a leaderboard of sorts for the receiver side, but https://github.com/gratipay/gratipay.com/issues/3736#issuecomment-256484342 is actually more along the lines of https://github.com/gratipay/gratipay.com/issues/2695.

[2017-01-30 22:51] whit537 commented on #4311
Security is the reason we don't support SVG already. What's the state of the art on securely handling SVGs from users? Does [Camo](https://github.com/atmos/camo) help?

[2017-01-30 23:12] rugk commented on #4311
From what I read Camo is a (TLS) proxy. Why should it help?

[2017-01-31 14:39] mattbk commented on #3433
+1 from https://gratipay.freshdesk.com/helpdesk/tickets/6699. Added to notifications.

[2017-01-31 14:47] whit537 opened #4312 "Error when translating a string in templates/support-gratipay.html"
Reported by @maxkoryukov in Transifex:

https://www.transifex.com/gratipay/gratipay/translate/#ru/$/35897010
https://www.transifex.com/gratipay/gratipay/translate/#ru/$/35897011

Referencing:

https://github.com/gratipay/gratipay.com/blob/2042/templates/support-gratipay.html#L8
https://github.com/gratipay/gratipay.com/blob/2042/templates/support-gratipay.html#L10

[2017-01-31 15:34] EdOverflow commented on #4311
I would rather we do not allow SVG files. The amount of CVEs I have seen related to SVG files bothers me.

In answer to your question @whit537, I believe most websites blacklist possibly malicious code in SVGs. Unfortunately, this is a very complicated and error prone procedure.

[2017-01-31 15:59] Changaco commented on #4311
I suggest running the SVG through an optimizer like [svgcleaner](https://launchpad.net/svg-cleaner). That process should remove any malicious code, although I can't guarantee that (someone would need to take a deeper look if it hasn't been done yet).

[2017-01-31 17:17] JessaWitzel opened #4313 "Homepage project loading in tabs"
Currently the homepage loads all of the tabs and all of projects on those tabs at once.

Make it so that the teams on a tab only load when you click on that tab or when you click directly to a link of that tab. "Make an AJAX endpoint to load projects by status."

[2017-01-31 18:29] JessaWitzel commented on #4313
Reminding myself that tabs.js is the place to be.

[2017-01-31 20:26] mattbk commented on #4274
This is still being weird, so it doesn't look like a year thing?

E.g.,
![image](https://cloud.githubusercontent.com/assets/3729038/22483019/18bd96de-e7c1-11e6-8009-52688f04d962.png) is the first week of one account. So it starts at $192.

[2017-01-31 20:55] whit537 commented on #1799
We just had another support [inquiry](https://gratipay.freshdesk.com/helpdesk/tickets/6525) related to this:

I think a better way to address this will be to adopt a more normal donation interface, via https://github.com/gratipay/gratipay.com/issues/3862.

[2017-02-01 13:46] whit537 commented on #4313
[slack](http://gratipay.slackarchive.io/gratipay/-/1485468572.003881/1485894090.003998/1485882378003954/) ftr

[2017-02-01 18:54] whit537 commented on #1799
Sorry, #3862 is less relevant here than #5. Both together would be part of a "normalized" giving interface.

[2017-02-01 19:37] whit537 commented on #4313
I think as part of this we should address at least some of the page performance characteristics from https://github.com/gratipay/gratipay.com/issues/4262:

-----------------------------

Users notice if sites and apps don't perform well. These top-level metrics capture the most important perceived performance concerns.

**First meaningful paint:** _9689.3ms_
First meaningful paint measures when th

[2017-02-01 23:01] mattbk commented on #4295
These types of names also produce errors on the front page ([FD](https://gratipay.freshdesk.com/helpdesk/tickets/6688)):

https://gratipay.com/x.x/?>/image?size=small, which returns a 404 error.

[2017-02-02 05:21] nobodxbodon opened #4315 "Trivia: remove "n=" from tab headers on homepage"
IMO 'n=' doesn't make it easier to understand what the number means
![screen shot 2017-02-01 at 9 19 22 pm](https://cloud.githubusercontent.com/assets/392497/22538031/5b9f6ac8-e8c4-11e6-94e8-5ed9dbe15bb7.png)

[2017-02-02 14:34] whit537 commented on #4315
Fwiw, the `n=` are derived from the Chicago Manual of Style [on tables](http://www.chicagomanualofstyle.org/16/ch03/ch03_toc.html) (paywall).

[2017-02-02 17:20] whit537 opened #4318 "Rename "Teams" to "projects" under the hood"
We [renamed Teams to projects](https://gratipay.news/from-teams-to-projects-45c46718507b) in the UI, but not under the hood. We should rename under the hood as well to avoid confusion, especially for new developers. Let's try this in layers:

- HTML/JavaScript
- Python
- Postgres

I think we should make multiple small PRs for each layer, one bite at a time. 🐘

[2017-02-02 17:36] whit537 commented on #4318
http://gratipay.slackarchive.io/gratipay/-/1486054441.004742/1486056248.004937/1486056248004937/

[2017-02-02 17:56] whit537 commented on #4318
@jacquieline-homan Renaming files is just the beginning, we also want to change variables names in source as well.

[2017-02-02 17:57] whit537 commented on #4318
@jacqueline-homan Note that renaming files is just the beginning, we also want to change variables names in source as well.

[2017-02-02 19:35] JessaWitzel commented on #4262
Are the italics portions our current times/metrics?

How did you set those targets? Are they standard?

[2017-02-02 19:36] JessaWitzel commented on #4313
Do we want new projects to load as someone scrolls or do we want to have a button/link that says "see more projects"? How many projects do we want to initially load? 20 is my thought but Wayne just said "what if someone has a huge screen?"

[2017-02-02 19:43] whit537 commented on #4313
To my mind that is out of scope for this PR. I think to keep this manageable we should only move to AJAX, but still load all 200+ projects when you click on the "Approved" tab. Once that's done we could then tackle https://github.com/gratipay/gratipay.com/issues/3738 in a separate PR. Eh?

[2017-02-02 19:48] whit537 opened #4319 "Reset featured projects daily"
_Reticketed from https://github.com/gratipay/gratipay.com/pull/4234#issuecomment-269881226._

Right now the featured projects list on the homepage (#4234) refreshes on every page load, which is somewhat counterintuitive. We should make the list persistent.

[2017-02-02 19:51] whit537 commented on #4319
We talked about weekly or daily. I think daily is a good balance between staying consistent with the expectations around the term "featured," and also giving all projects a fair shake.

Now that I think of it, should we build this to avoid featuring the same project more than one day in a given week, or somesuch?

[2017-02-02 19:53] JessaWitzel commented on #4313
Yes, thank you. You are right. I'm trying to wrap my brain around all this stuff I don't understand and got side tracked.

[2017-02-02 20:46] nobodxbodon commented on #4315
Seems that link requires subscription, which I don't have. So it recommends using 'n='? IMO a similar case is the mozilla reviewer tool:
![screen shot 2017-02-02 at 12 42 48 pm](https://cloud.githubusercontent.com/assets/392497/22567581/55dc1e2a-e945-11e6-880e-5c3512bb1920.png)

[2017-02-02 21:23] whit537 opened #4321 "Fix otb sync_npm test failures"
@JessaWitzel @jacqueline-homan and @dmk246 are all hitting three test failures in `test_sync_npm.py`. This seems to be the worst of our onboarding problems right now. Let's fix it! :-)

Steps to repro are basically to follow the readme on a fresh (Ubuntu?) system.

[2017-02-02 21:45] kaguillera opened #4322 "Localhost not loading in Firefox"
Just found this problem in Firefox while setting up Gratipay locally on @dmk246 laptop. For some reason the page never loads when you `make run` and try to open localhost:8537 in Firefox it hangs. We believe it is because `gratipay.report_uri.io`

[2017-02-03 02:54] jacqueline-homan commented on #4318
@whit537 Which is why CTRL + F and "Replace All" are the most best features of a text editor :) Just let me know which variables in the source code need to be changed.

[2017-02-03 09:06] whit537 commented on #4315
Right, that's what I meant by "(paywall)." Not sure what to do about that. I actually don't have a subscription anymore either, if I ever did. I'm inclined to think that anyone working on design should have the CMoS to work with, but I'm not sure how best to accomplish that (each pay? Gratipay pays?).

[2017-02-03 09:10] whit537 commented on #4318
`team` &rarr; `project`

[2017-02-03 12:39] jacqueline-homan commented on #4318
Got it :)

[2017-02-06 12:11] whit537 opened #4324 "Fund your own project"
Reticketed from https://github.com/gratipay/inside.gratipay.com/issues/432#issuecomment-163738482:

Also cropped up [in slack](http://gratipay.slackarchive.io/gratipay/-/1486136421.005182/1486382591.005364/1486246090005355/ ) (cc: @simonmichael).

[2017-02-06 20:19] JessaWitzel commented on #4313
- [ ] Make it so that only the Approved and Featured tab loads
- [ ] Correct Counts
- [ ] New query that loads a tab if you click on it (AJAX)
- [ ] Different query for the fourth tab? (AJAX)
- [ ] Tab loading if you go to a direct link of that tab, figure out.

[2017-02-08 20:11] whit537 commented on #4321
I'm seeing this myself now, but I see a Traceback prior to the failure that shows the error in the sync-npm script that is resulting in the failure. Anyone able to provide a traceback from your environment? That should give us a clue to debug here.

[code]

[2017-02-08 20:11] whit537 commented on #4321
(In my case the underlying traceback is due to changes I just started making while hacking on new stuff.)

[2017-02-08 20:12] whit537 commented on #4321
(So it's not relevant to the out-of-the-box failures.)

[2017-02-08 22:23] dmk246 commented on #4321
A clue ... if we run the test with

[code]
it passes

if we run `make pytest` it fails

[2017-02-09 13:44] whit537 opened #4325 "Retire welcome message"
@hmig suggests [on Twitter](https://twitter.com/_hmig/status/829467538471997441) that the welcome popup constitutes an [intrusive interstitial](https://webmasters.googleblog.com/2016/08/helping-users-easily-access-content-on.html) and should be removed.

![c4lcu0mwcaaimlj](https://cloud.githubusercontent.com/assets/134455/22785815/d9b12c1e-eea3-11e6-8e23-839eb37e87b6.jpg)

[2017-02-09 15:51] clone1018 opened #4327 "Find new TLS certificate vendor"
This morning I'm getting an SSL error for Gratipay.com
![image](https://cloud.githubusercontent.com/assets/226638/22790898/3c41047c-eead-11e6-9480-c2f8aef9c07f.png)

I'm running Google Chrome Version 57.0.2987.21 beta (64-bit)

[2017-02-09 15:52] clone1018 commented on #4327
From [Wikipedia](https://en.wikipedia.org/wiki/StartCom):

[2017-02-09 15:59] whit537 commented on #4327
Good catch, @clone1018. Here is [Google's announcement](https://security.googleblog.com/2016/10/distrusting-wosign-and-startcom.html) (3+ months ago).

[2017-02-09 16:01] clone1018 commented on #4327
@whit537 One thing to remember, if migration is the solution CloudFlare does offer SSL

[2017-02-09 16:05] mattbk commented on #4315
That would help the wrap I'm seeing now:
![image](https://cloud.githubusercontent.com/assets/3729038/22791513/3997e518-eeaf-11e6-8c0b-d641167e6bb5.png)

[2017-02-09 16:22] EdOverflow commented on #4327
A dedicated SSL certificate on Cloudflare costs 5$ a month.

[2017-02-09 16:25] whit537 commented on #4327
Re: Cloudflare: https://github.com/gratipay/inside.gratipay.com/issues/957.

[2017-02-09 16:32] whit537 commented on #4327
Also: https://letsencrypt.org/.

[2017-02-09 16:33] whit537 commented on #4327
https://blog.heroku.com/announcing_heroku_free_ssl_beta_and_flexible_dyno_hours

[2017-02-09 16:42] clone1018 commented on #4327
I've used LetsEncrypt the it was very nice. I wonder if there's a stigma to using a free SSL provider for a payment website

[2017-02-09 16:46] whit537 commented on #4327
SNI should be fine from a browser support pov:

[2017-02-09 16:51] whit537 commented on #4327
I think Let's Encrypt has a good reputation. No?

[2017-02-09 16:54] clone1018 commented on #4327
I think the stigma is "You're a payment provider but you can't even afford a real secure cert?". I personally don't have an issue with it but I've heard that before.

[2017-02-09 16:54] whit537 commented on #4327
Alright, I think the lowest-hanging fruit here is Let's Encrypt + Heroku SSL. We should probably take the $20/mo we'll save at Heroku and donate it to Let's Encrypt.

[2017-02-09 16:54] whit537 commented on #4327
Would that help address the "can't even afford" issue, @clone1018?

[2017-02-09 16:55] EdOverflow commented on #4327
In my opinion, Let's Encrypt is perfectly fine.

[2017-02-09 16:57] whit537 commented on #4327
Sooooo ... $10/mo donation?

[2017-02-09 17:00] whit537 commented on #4327
https://certbot.eff.org/docs/using.html#manual

[2017-02-09 17:02] whit537 commented on #4327
It's a Python app! :-)

[code]

[2017-02-09 17:05] whit537 commented on #4327
Okay, I guess this is the way:

[code]

[2017-02-09 18:20] rugk opened #4328 "How to use the shields button?"
I don't get how to properly use the shields button. I can use [this one](https://img.shields.io/gratipay/user/rugk.svg) for users, but how to do it for projects?

[2017-02-09 18:23] whit537 commented on #4327
P.S. We were only a month away from cert expiration anyway.

[2017-02-09 18:24] whit537 commented on #4327
Doc to revise: http://inside.gratipay.com/howto/install-an-ssl-certificate.

[2017-02-09 18:30] whit537 commented on #4327
I'm actually not to sad to be removing "Search 'startssl attempted phone call' in my personal Gmail for history." from our documentation. ☺️

[2017-02-09 18:45] whit537 commented on #4327
That's gonna be a shift for us.

[2017-02-09 18:51] whit537 commented on #4327
I guess we should go ahead and drop `gittip.org` (https://github.com/gratipay/inside.gratipay.com/issues/877) now.

[2017-02-09 18:59] whit537 commented on #4318
[slack](http://gratipay.slackarchive.io/gratipay/-/1486644886.005667/1486666682.005823/1486666437005774/)

[2017-02-09 19:05] whit537 commented on #4327
I'm putting together a [config file](https://certbot.eff.org/docs/using.html#configuration-file) that we can store and reuse.

[2017-02-09 19:12] clone1018 commented on #4327
Renew with each payday :D?

[2017-02-09 19:13] whit537 commented on #4327
@clone1018 Hehe. :-) Or maybe once a month, as part of payday duties?

[2017-02-09 19:55] whit537 commented on #4327
Sorting through domain verification ... looks like there are a [number of options](https://letsencrypt.github.io/acme-spec/#identifier-validation-challenges). DNS would be the easiest, but afaict `certbot --manual` only supports `simpleHttp`(?).

[2017-02-09 19:55] whit537 commented on #4327
A clue! https://github.com/certbot/certbot/issues/4153

[2017-02-09 20:10] whit537 commented on #4327
Actually, I think HTTP validation will be easier month-to-month than DNS validation. It'll be easier for us to update some config vars at Heroku than to modify DNS.

[2017-02-09 20:10] whit537 commented on #4327
Can we enforce HTTPS though?

[2017-02-09 20:24] whit537 commented on #4327
And will we get a single token/authorization for each domain (good), or different for each (bad)?

[2017-02-09 20:25] whit537 commented on #4327
Because if we get a single pair for each domain, then that's fairly straightforward to store in Heroku config. If it's different for each domain then we may even want to put this in a dashboard page.

[2017-02-09 20:33] whit537 commented on #4328
Projects were called "teams" until recently. Is Shields still perhaps using the old nomenclature?

https://img.shields.io/gratipay/team/XenForo-Threema-Gateway.svg

[2017-02-09 20:33] whit537 commented on #4328
https://gratipay.news/from-teams-to-projects-45c46718507b, btw

[2017-02-09 20:35] rugk commented on #4328
Mhh, so is it intended that `anonymous` is shown for projects which have not received any money yet. Or why are they "anonymous"?

[2017-02-09 20:36] whit537 commented on #4328
Dunno, I just checked the Shields [homepage](http://shields.io/) and `teams` is what they advertise.

[2017-02-09 20:37] whit537 commented on #4328
We'll have to dig deeper into the API calls that Shields is making to Gratipay, and what those calls are returning. You motivated to do that, @rugk? :-)

[2017-02-09 20:43] rugk commented on #4328
Uh, not really, no. If it does not work I use a text link for now… 😉

[2017-02-09 20:49] whit537 commented on #4327
This looks to me like it's different for each domain:

[code]

That's at https://github.com/certbot/certbot/blob/v0.11.1/certbot/plugins/manual.py#L112.

[2017-02-09 20:52] whit537 commented on #4327
Yeah, they're different. Okay!

[code]

[2017-02-09 21:03] whit537 commented on #4327
And do challenges survive redirects? Because we canonicalize domains before we hit simplates.

[2017-02-09 21:38] whit537 commented on #4327
I'm trying to hit the [place where it seems](https://github.com/certbot/certbot/blob/v0.11.1/acme/acme/challenges.py#L309) like the challenge is issued. But I'm not able to yet.

If it's a `requests.get` ... I think it might follow redirects? 🙈

[2017-02-09 22:07] whit537 commented on #4327
This is so skunkerific. 😩

[2017-02-09 22:12] whit537 commented on #4327
It appears that `simple_verify` is unused. :-|

[code]

[2017-02-09 22:46] finkiki commented on #4325
I agree.

[2017-02-09 23:21] whit537 commented on #4327
Okay, I realized that I had to confirm all six domains before `certbot` would start actually hitting them. Once I do the result suggests that it does follow redirects, since I'm getting a 404 error instead of a 302.

[code]

[2017-02-09 23:47] whit537 commented on #4327
Alright, the way the protocol works appears to be that we never directly hit http://gratipay.com/.well-known/acme-challenge/deadbeef from the client. My hunch is that that only ever happens on the server side, with the result communicated back to the client somehow for error reporting.

[code]

[2017-02-09 23:49] whit537 commented on #4327
Yeah, here it is:

[code]

[2017-02-09 23:50] whit537 commented on #4327
Alright, well, I guess that's enough to go on. The server-side (which I think is open source and written in Go?) appears to follow redirects. 👍

[2017-02-09 23:52] whit537 commented on #4327
Okay! So let's build an admin capability to set verification token/authorization pairs per domain.

[2017-02-09 23:54] whit537 commented on #4327
PR in https://github.com/gratipay/gratipay.com/pull/4331 ... will return here in a bit for the certbot side.

[2017-02-10 01:55] whit537 commented on #4327
We also need to account for `grtp.co` and `assets.gratipay.com`.

[2017-02-10 02:18] whit537 commented on #4327
Moving to https://github.com/gratipay/inside.gratipay.com/pull/1005 for the certbot side. Leaving this open to drive the deploy.

[2017-02-10 03:56] mattbk commented on #4328
If you're receiving $0.00, the shield defaults to "anonymous"

https://img.shields.io/gratipay/team/XenForo-Threema-Gateway.svg works is the right url.

I tipped you a penny, it shows up correctly (markdown below, not a static image):
[![Gratipay User](https://img.shields.io/gratipay/team/XenForo-Threema-Gateway.svg)]()

[2017-02-10 13:06] whit537 commented on #4328
We good here, @rugk?

[2017-02-10 13:50] rugk commented on #4328
@mattbk Nice!
And thanks for the penny. 😃

[2017-02-10 13:53] rugk commented on #4328
I think it would be good if this can be fixed in Shields.io. Then this issue can be closed IMHO…

[2017-02-10 15:15] mattbk opened #4332 "Suggested donation banner populates incorrect amount in some other languages"
From [FD](https://gratipay.freshdesk.com/helpdesk/tickets/6792):

May be it's a bug or I didn't undestand it. The BUTTON clearly displayed the number 0,40. Then I clicked it.

This works correctly for me. I think this may be a language issue around `,` vs `.` for currency? Screenshot submitted by FD user shows `,` is used.

English:
![image](https://cloud.githubusercontent.com/assets/3729038/22831

[2017-02-10 15:20] #4328 closed

[2017-02-10 16:09] whit537 commented on #4327
Alright, once https://github.com/gratipay/gratipay.com/pull/4333 is out we should be ready to roll. I think we should go in order of increasing risk:

- `grtp.co`
- `assets.gratipay.com`
- `gratipay.com`

[2017-02-10 16:37] whit537 commented on #4332
@mattbk Changing language is in browser settings under "Content" for Chrome/FF, not sure about others.

[2017-02-10 16:39] whit537 commented on #4332
Well, "Advanced settings" > "Languages" in Chrome:

![screen shot 2017-02-10 at 11 38 28 am](https://cloud.githubusercontent.com/assets/134455/22835073/80cba3e4-ef85-11e6-8997-e036fb89a9ba.png)

[2017-02-10 16:45] whit537 commented on #4327
Actually, let's go with https://github.com/gratipay/inside.gratipay.com/pull/1005 ...

[2017-02-10 16:45] #4327 closed

[2017-02-10 17:19] mattbk commented on #4332
That works for you? Gratipay still shows up in English for me if I change to Italian or French in Chrome. I get the option to translate the page, but I know that's Google translating it, not the Transifex translations.

[2017-02-10 17:22] mattbk commented on #4332
Stand by...

[2017-02-10 17:23] mattbk commented on #4332
Aha! https://chrome.google.com/webstore/detail/quick-language-switcher/pmjbhfmaphnpbehdanbjphdcniaelfie?hl=en

[2017-02-10 17:27] mattbk commented on #4332
Problem confirmed, with Italian:

![image](https://cloud.githubusercontent.com/assets/3729038/22836835/9b5a0b62-ef83-11e6-992c-f6dcd36df02f.png)

click `US$ 0,30`

![image](https://cloud.githubusercontent.com/assets/3729038/22836845/a5f61160-ef83-11e6-9555-285243e3c458.png)

and on /about/me/giving:

![image](https://cloud.githubusercontent.com/assets/3729038/22836857/b38ef940-ef83-11e6-93a0-b9c0f

[2017-02-10 20:52] JessaWitzel commented on #4313
- [ ] Create an endpoint that gives me the project data in json format
- [ ] Create AJAX callback that properly populates project data into a tab
- [ ] AJAX request to load the project data for the current tab
- [ ] AJAX request to load project data for tab you click

[2017-02-11 15:46] mattbk commented on #1052
+1 from [FD](https://gratipay.freshdesk.com/helpdesk/tickets/6797). This particular issue is compounded by not showing giving amounts on the chalkboard when the credit card isn't working.

 Gratipay
We tried to charge your credit card $10.74 today, to fund your ongoing support for [redacted] and 5 others, but the charge failed with this message:
Declined
Fix Credit Card
Something not right? Reply

[2017-02-13 14:00] whit537 commented on #4325
There are three bits of info in the popup:

1. number of projects
1. total weekly dollar volume
1. link to "About"

(1) and (3) are already on the main page (I'm not sure they were when we added the popup). Is there an easy way to work the dollar volume into the main page?

[2017-02-13 14:59] mattbk commented on #4325
![image](https://cloud.githubusercontent.com/assets/3729038/22888293/c570af5c-f1ca-11e6-89fb-dc9716004b4b.png)

[2017-02-14 20:02] whit537 commented on #4325
It could be confusing there: is it scoped to the current tab?

[2017-02-14 20:05] whit537 commented on #4325
The dollar volume _is_ available under About > Stats. How about we just go with #4334?

[2017-02-14 20:48] mattbk commented on #4325
Sounds good.

[2017-02-16 02:40] #4325 closed

[2017-02-16 13:22] whit537 commented on #4332
Maybe [something to do](https://github.com/gratipay/gratipay.com/blob/2049/gratipay/utils/i18n.py#L200-L201) with [`trailing_zeroes=False`](https://github.com/gratipay/gratipay.com/blob/2049/templates/support-gratipay.html#L20-L21)?

[2017-02-16 13:36] whit537 opened #4336 "Update Medium icon in footer"
We're [way behind](https://blog.medium.com/the-story-behind-medium-s-new-logo-4cd3e143dfcf).

![screen shot 2017-02-16 at 8 35 41 am](https://cloud.githubusercontent.com/assets/134455/23023316/ee8cece8-f422-11e6-916a-da0c9cfdc22c.png)

[2017-02-16 18:15] whit537 opened #4338 "Move projects under users"
I think @mattbk and I talked about this but I don't recall reticketing (dupe alert!).

I propose that we move projects under owners in the URL structure, like GitHub does:

https://gratipay.com/Gratipay/
https://gratipay.com/~gratipay/Gratipay/

Contributes to disambiguation of ~participants and projects (#3852).

[2017-02-16 18:34] whit537 commented on #4322
Indeed.

![screen shot 2017-02-16 at 1 34 35 pm](https://cloud.githubusercontent.com/assets/134455/23035321/ab821156-f44c-11e6-995b-49716ed4ec74.png)

[2017-02-16 21:04] whit537 commented on #1383
It turns out that this isn't really necessary, and is in fact not workable in the long run. Online wallets are not banks (though there are some [early rumblings](http://www.bankingtech.com/735552/amazon-looking-to-buy-capital-one/) that regulation may eventually be coming to stored value accounts). Storing value did not turn out to be the "crux" of the money transmission issue with Gittipay 1.0 as

[2017-02-16 21:04] #1383 closed

[2017-02-16 21:12] whit537 opened #4339 "Implement expensing"
Open Collective has a great alternative for take-what-you-want distributions: expensing. Each project has a cash balance, and anyone on the internet can submit an expense report against that balance at any time. This is much more flexible than our weekly twyw that we have now for Team Gratipay. It's a general case that could be used as we're using weekly twyw, but could also account for other mode

[2017-02-16 21:12] whit537 opened #4340 "Remove payout route requirement"
Right now we require a working payout route in order to move money (ostensibly; in practice we still move money if a participant has a failing payout route). We did this because we wanted to reduce or even eliminate our escrow (#1383), but it's now clear that that is both unnecessary and undesirable. We should allow projects to pool funds in Gratipay, to give us more flexibility to grow our escrow

[2017-02-16 21:29] Changaco commented on #1383
FTR escrow is exactly what you need a licence for in Europe, because holding people's money means that they may lose it if you do stupid things with it.

In fact a few months ago the financial watchdog in France came down on an almost-bank which wasn't properly managing their clients' money.

[2017-02-16 21:35] whit537 commented on #4339
With this we don't even need the concept of "members" per se. Anyone can submit an expense report. The definition of "members" emerges as those-who-submit-expenses.

[2017-02-16 21:35] whit537 commented on #4339
I sortta feel like we _have_ to do this to stay competitive with OC. True or false?

[2017-02-16 21:41] whit537 commented on #1383
Good to know.

[2017-02-16 21:49] dmk246 commented on #4321
It passed when we removed --cov from the make file
Next step: run env test with --cov and see what happens

[2017-02-16 23:01] whit537 commented on #4332
PR ready to go in #4337.

[2017-02-17 15:07] mattbk commented on #4338
I think it was on Slack but I haven't found it yet.

[2017-02-17 16:46] mattbk commented on #4126
+1 from https://twitter.com/wSokra/status/831828196681216000

[2017-02-17 16:47] mattbk commented on #4338
Duplicate of https://github.com/gratipay/gratipay.com/issues/4246.

Wasn't Slack. :cry:

[2017-02-17 16:47] #4338 closed

[2017-02-17 16:48] mattbk commented on #4246
From #4338:

https://gratipay.com/~gratipay/Gratipay/

[2017-02-17 17:03] mattbk commented on #4340
Along with this should be some rejiggering of the payday process so cards aren't charged if there is money to use.

[2017-02-18 01:57] mattbk opened #4341 "Create a corporate giving page"
...to explain the fruits of https://github.com/gratipay/inside.gratipay.com/issues/987.

I'm thinking something with little text and simple imagery. Idea started below.

(I wanted to use https://adioma.com but there's no free plan. Haven't experimented with a trial yet.)

-----

Your company can pay for the open source software you use.

1. Create an account
1. Pick which projects to support, and

[2017-02-23 08:18] balupton commented on #236
pushed up the [first public commit](https://github.com/bevry/sponsored) of my [earlier mentioned](https://github.com/gratipay/gratipay.com/issues/236#issuecomment-269726893) sponsorship service - gratipay task over at https://github.com/bevry/sponsored/issues/3

[2017-02-24 10:22] EdOverflow opened #4351 "React to Cloudbleed"
On January 24, 2017, Tavis Ormandy, a security researcher at Google,  disclosed a memory leakage vulnerability in Cloudflare. https://bugs.chromium.org/p/project-zero/issues/detail?id=1139

This issue is to thoroughly investigate how this security vulnerability affects Gratipay.

# Summary

As explained in Tavis' [report](https://bugs.chromium.org/p/project-zero/issues/detail?id=1139
) and by the

[2017-02-24 11:21] whit537 commented on #4351
What about third-party services that we depend on? Most are [listed here](https://github.com/gratipay/inside.gratipay.com/issues/928). We should probably roll creds for those that are affected.

[2017-02-24 11:23] whit537 commented on #4351
[Canonical list is here](https://docs.google.com/spreadsheets/d/1p3DpF9ZLEsViBx0685FwJaYN1vVScKVUgXHb2zyqXZg/edit?ts=581fd232#gid=1).

[2017-02-24 16:06] whit537 commented on #4351
[slack](v)

[2017-02-24 18:54] whit537 commented on #4351
Neither Digital Ocean nor PagerDuty are available for [automatic password changing](https://blog.lastpass.com/2014/12/introducing-auto-password-changing-with.html/).

[2017-02-24 18:59] whit537 commented on #4351
I've manually changed the password for the Gratipay Digital Ocean account. Additionally, I cleared out the members of the team (cc: @clone1018 @rohitpaulk @techtonik). We can add folks back as necessary. I didn't remove existing keys, because I couldn't think of a way those would be affected.

![screen shot 2017-02-24 at 1 54 09 pm](https://cloud.githubusercontent.com/assets/134455/23316693/75c323

[2017-02-24 19:06] whit537 commented on #4351
Manually changed for both Gratipay and @rohitpaulk (sent to your email) on PagerDuty.

![screen shot 2017-02-24 at 2 03 10 pm](https://cloud.githubusercontent.com/assets/134455/23316884/430024fc-fa9a-11e6-9c0f-5067458faec1.png)

[2017-02-24 19:07] whit537 commented on #4351
I think that's it, ya?

[2017-02-24 19:13] whit537 commented on #4351
https://twitter.com/Gratipay/status/835205917884968960

[2017-02-24 19:13] #4351 closed

[2017-02-25 18:22] EdOverflow opened #4354 "React to SHA-1 collision (SHAttered)."
On February 23, 2017, CWI Amsterdam and Google, demonstrated a first real SHA-1 collision. (https://shattered.io/) Although many of us were aware that this would happen any time soon, we must ensure that the security of Gratipay's users is not affected in any way.

# Summary

![](https://pbs.twimg.com/media/C5XLJ2rWQAAjv07.jpg)

Original: http://www.poorlydrawnlines.com/
Edited by: https://twitter

[2017-02-27 10:49] whit537 commented on #4354
😳

[code]

[2017-02-27 13:54] EdOverflow commented on #4354
¯\_(ツ)_/¯

[2017-02-27 14:09] whit537 commented on #4354
Any implications for our Git usage?

https://plus.google.com/+LinusTorvalds/posts/7tp2gYWQugL

I suppose this is something GitHub would start addressing?

[2017-02-28 15:08] EdOverflow commented on #4354
This is not something we should really worry about as of right now. I will let you know if there are any updates in the future.

In case someone is interested, here is a StackOverflow discussion demonstrating how Git would handle a SHA-1 collision on a blob: https://stackoverflow.com/a/34599081

I hope so.

[2017-02-28 16:00] whit537 opened #4356 "React to Facebook API 2.2 Sunset"

[2017-02-28 16:00] whit537 commented on #4356
Version upgrade tool:

I guess that means we're good?

[2017-02-28 16:01] #4356 closed

[2017-02-28 16:06] #4354 closed

[2017-02-28 16:06] whit537 commented on #4354
!m @EdOverflow

[2017-02-28 19:25] whit537 opened #4359 "Travis often hangs on ttw tests"
Not infrequently, a build will fail at Travis due to the 10 minute timeout. Restarting the build generally fixes it. From what I've observed, the tests hang on the ttw tests. I think I've been able to observe this behavior locally as well, so perhaps this is debuggable. In the mean time ... restart build!

[2017-02-28 19:36] whit537 commented on #4359
Ah! We *do* have an AWS S3 dependency: the GitHub ribbon.

AWS is [having an issue](https://status.aws.amazon.com/) with S3 right now:

(Their status reporting is terrible, so I can't link to a specific incident report.)

[2017-02-28 19:37] whit537 commented on #4359
GitHub failed to post my screenshot of our S3 dependency, leading me to wonder whether they have an S3 dependency as well. ;-)

[2017-02-28 19:39] whit537 commented on #4359
Yeah, ttw tests proceed with normal slowness when I remove the ribbon.

[2017-02-28 19:39] whit537 commented on #4359
Sounds to me like another reason to have a knob to turn off report-uri.io in development/CI.

[2017-03-02 18:57] whit537 commented on #4168
Mind giving this another shot, @toy? We just deployed #4170 in an attempt to fix this.

[2017-03-02 19:05] whit537 opened #4362 "Fix timing bug once and for all"
#4129 #4290 #4314

@nobodxbodon at https://github.com/gratipay/gratipay.com/pull/4314#issuecomment-277424912:

![screen shot 2017-03-02 at 2 04 34 pm](https://cloud.githubusercontent.com/assets/134455/23522503/40fbed92-ff51-11e6-85af-9f3cad83e281.png)

[2017-03-02 19:14] #4332 closed

[2017-03-02 19:18] toy commented on #4168
@whit537 Thanks! It seems to work, as I was able to disconnect the paypal account.

[2017-03-02 19:18] #4168 closed

[2017-03-02 19:25] whit537 commented on #4168
Woo-hoo! Thanks for your patience. :-)

[2017-03-02 19:51] mattbk commented on #4332
Notified in Freshdesk.

[2017-03-03 20:52] whit537 opened #4364 "Fix deploy.sh regression"
[Looks](https://github.com/gratipay/gratipay.com/pull/4345#issuecomment-284062013) like #4345 introduced a regression in `deploy.sh`:

[code]

[2017-03-03 20:56] whit537 commented on #4364
Ah! https://github.com/gratipay/gratipay.com/blob/796d36e914a44b88e60964416e754c0b473ca163/deploy.sh#L50-L52 is where we're hitting `wireup`.

[2017-03-03 21:08] whit537 commented on #4364
I made a `test.sh` truncated from `deploy.sh`:

[code]

[2017-03-03 21:09] whit537 commented on #4364
I ran it manually against the commits on #4345. The regression is in https://github.com/gratipay/gratipay.com/commit/b6e89a4696e7451af840c1ac49ca101dcf5526a7.

[2017-03-03 22:29] whit537 commented on #4364
It's because `./gratipay/` is ending up on `sys.path`, and `pkg_resources` tries to import from `email` and it's picking up the `gratipay.email` subpackage. Why is `gratipay/` on `sys.path`?

Ah! It's because `gratipay/wireup.py` is the [script name](), and Python puts `dirname(__file__)` on `sys.path`.

We didn't notice before because there was no `gratipay.email` subpackage to confuse things.

[2017-03-05 14:49] deivid-rodriguez opened #4367 "Giving amount confusing / inconsistent"
I'm not sure whether I'm giving money to RuboCop or not... Am I? I want to :)

![gratipay](https://cloud.githubusercontent.com/assets/2887858/23588242/68add9d2-0199-11e7-8567-99419c2ed6f7.png)

[2017-03-05 15:10] deivid-rodriguez commented on #4367
Just FYI, I just started giving the recommended percentage of my income to Gratipay!

The number in the giving taking table or in the header still didn't update, though.

[2017-03-05 23:16] mattbk commented on #4367
I think this is because the number in the header table is calculated on payday (Thursday).

Do you have a credit card hooked up? This is also required, I believe.

[2017-03-05 23:22] deivid-rodriguez commented on #4367
But I've been giving to `RuboCop` for a lot of Thursdays... Or at least thinking I am.

No, I don't. Paypal only.

[2017-03-06 08:41] #4364 closed

[2017-03-06 15:06] mattbk commented on #4367
Yes, I can see from your history that you've been giving to RuboCop...but only intermittently.

I was incorrect earlier; the header should update immediately.

This appears to be related to https://github.com/gratipay/gratipay.com/pull/4255#issue-197367394, which describes how you can end up with a negative balance (through our error, not yours). In such cases, normally your donations to a project

[2017-03-06 15:14] deivid-rodriguez commented on #4367
I see, so since you're currently not able to pay in through `Paypal`, if the donations I receive were retired... my balance would go negative, right? I guess the user should be informed about this gotcha somehow and encouraged to set up a credit card.

Anyways, all that is different from the bug reported here, right?

[2017-03-06 15:31] mattbk commented on #4367
If you stopped receiving donations, your balance would stop at $0. The only time it goes negative should be when we make a mistake on our end. What would happen is that RuboCop would see that you were donating, but they wouldn't receive the payout and it would be listed as "Unfunded Dues" on the Receiving page for RuboCop.

@whit537 or @rohitpaulk, any ideas to solve the original issue?

[2017-03-06 15:33] deivid-rodriguez commented on #4367
Yes, I had just realized that the "negative balance situation" described by @whit537 was different. That's good to know!

[2017-03-06 15:54] deivid-rodriguez opened #4368 "Recover access to activeadmin project"
I'm trying to get access to this project: https://gratipay.com/~activeadmin/

Apparently two people had access: @gregbell, who is inactive in GitHub since 2014 and told us he can't access, and @seanlinsley who deleted his gratipay account, so he can't access either.

I'd like to know how to proceed to revive the project.

[2017-03-06 15:58] mattbk commented on #3727
Digging into https://github.com/gratipay/gratipay.com/issues/4367 and finding similar behavior to [this](https://github.com/gratipay/gratipay.com/issues/3727#issuecomment-253822840):

@aandis, as a fellow team member, I'm going to use your simple giving/taking as an example. You're receiving from Gratipay, and giving an equal amount to Gratipay (!):
![image](https://cloud.githubusercontent.com/ass

[2017-03-06 15:59] deivid-rodriguez commented on #4368
As far as I can see, there's "nothing" there, so I think it would be fine to delete the account, and get it created & re-approved again, if that's easier for you.

[2017-03-06 16:32] mattbk commented on #4368
https://gratipay.com/~activeadmin/ is a user account, not a project. We can approve a project under the same name if you open an application (the names won't collide).

We don't like to delete accounts because they have transaction history attached, but I will email @gregbell to ask if he minds us changing the username on that account so it is no longer confusingly called ~activeadmin. Or if you k

[2017-03-06 16:36] mattbk commented on #4368
[FD email](https://gratipay.freshdesk.com/helpdesk/tickets/6965).

[2017-03-06 16:37] deivid-rodriguez commented on #4368
Aaaah, ok. Yeah, the name confused... Although I could've suspected something from the picture... :)

I guess the best thing to do here is whatever @gregbell wants to do, either delete or rename.

[2017-03-06 16:43] deivid-rodriguez commented on #4368
I created an ActiveAdmin project, up for review: https://github.com/gratipay/project-review/issues/345

[2017-03-06 16:46] deivid-rodriguez commented on #4368
I can ping you back in a few days and if you haven't got a reply I can try contact him through other means. Sounds good?

[2017-03-06 16:53] mattbk commented on #4368
:+1:

[2017-03-06 17:03] deivid-rodriguez commented on #4368
Cool, thanks for your help!

[2017-03-07 06:58] balupton commented on #236
https://github.com/gratipay/gratipay.com/issues/236#issuecomment-273967520

any chance at getting this api call added in the meantime? as for my service, I need something that responds with the total given amount for all time

[2017-03-07 13:54] clearnote01 opened #4370 "Change in Readme - git clone over HTTPS rather than ssh"
It makes the clone process a bit easier, eliminates the need of using a public key.

Change in Readme.md

instead of

[2017-03-08 13:16] whit537 commented on #4370
@clearnote01 Want to make a PR? Should be doable through the GitHub UI. :-)

[2017-03-08 13:27] clearnote01 commented on #4370
Sure! : )

[2017-03-08 15:35] mattbk commented on #4295
NB, to delete existing bad projects, use `branch.sql`.
http://gratipay.slackarchive.io/gratipay/-/1488556344.00768/1488986867.00782/1488986782007817/

[2017-03-08 17:22] mattbk commented on #4295
[Interesting](https://github.com/gratipay/gratipay.com/blob/b3426f059305a6432e747f16b37a5aafcf2a022e/gratipay/models/team/__init__.py#L23).

[2017-03-08 19:11] #4370 closed

[2017-03-09 02:16] mattbk commented on #4295
Those are the required characters. At least one letter and then you can have some other stuff that isn't required.

_/me wanders off to learn how to regex out / and ? at the same time..._

[2017-03-09 15:52] whit537 commented on #4295
@mattbk I'm pretty sure there's a bug in the regex because `-` indicates a range encompassing all of the ASCII characters between `,` and `_`. If my hypothesis is correct than the way to fix is probably for the `-` to be the last character in the set.

[2017-03-09 15:53] whit537 commented on #4295
Note that there's another similar regex for usernames which may have the same bug.

[2017-03-09 15:56] mattbk commented on #4295
I will try that.

[2017-03-10 15:10] pasupulaphani opened #4373 "Ability to change project url along with name"
I can edit the name of the project but not the url

[2017-03-10 15:36] whit537 commented on #4373
Thanks for the report, @pasupulaphani.

[2017-03-11 14:48] pyup-bot opened #4375 "Initial Update"
Hi 👊

This is my first visit to this fine repo, but it seems you have been working hard to keep all dependencies updated so far.

Once you have closed this issue, I'll create seperate pull requests for every update as soon as I find one.

That's it for now!

Happy merging! 🤖

[2017-03-11 14:49] EdOverflow commented on #4375
https://github.com/gratipay/inside.gratipay.com/issues/776

[2017-03-12 22:49] deivid-rodriguez commented on #4368
@mattbk No news? Shall I try get in touch? Maybe he doesn't use or has lost access to the email associated to his gratipay account.

[2017-03-13 14:35] mattbk commented on #4368
No word on this end, you can try to get in touch.

[2017-03-13 15:36] mattbk commented on #4367
This falls under https://github.com/gratipay/gratipay.com/issues/3793, so closing here and picking up over there. [The chalkboard only shows amounts that are backed by a credit card](https://github.com/gratipay/gratipay.com/issues/3793#issuecomment-151962307).

[2017-03-13 15:36] #4367 closed

[2017-03-13 15:36] mattbk commented on #3793
https://github.com/gratipay/gratipay.com/issues/4367 merged into this issue.

[2017-03-13 15:48] deivid-rodriguez commented on #4367
Cool, thanks!

[2017-03-13 18:30] EdOverflow opened #4378 "Remove 'unsafe-inline' from 'script-src' in CSP."
We should try and see if we can remove `unsafe-inline`, since it allows the execution of unsafe in-page scripts and event handlers.

[2017-03-13 18:38] #3584 closed

[2017-03-13 23:31] deivid-rodriguez commented on #4368
I've been told that he usually responds to emails but usually takes him a long time to do it. So, since this is not something urgent for us, let's just wait for a long time :)

My plan is to ping you back in a month, for example, and if no news yet by then, I'll assume the contact I've been given is different from the contact Gratipay has, and I'll try to contact him myself. It's just that I want

[2017-03-14 00:58] mattbk commented on #4368
:+1:

[2017-03-15 02:11] kepoorhampond opened #4379 "Displays file paths instead of email with confirmation page."
When I clicked on the confirm link for confirming emails, it displays some paths and not my email:
![2017-03-14-190819_1920x1080_scrot](https://cloud.githubusercontent.com/assets/11763039/23930495/e4d14966-08e9-11e7-979f-fc0234abb018.png)

[2017-03-15 07:46] whit537 commented on #4379
Blech, that's embarrassing. Thanks for letting us know, @kepoorhampond!

[2017-03-15 07:47] whit537 commented on #4379
Probably a regression from recent changes to this template?

[2017-03-15 16:11] #4133 closed

[2017-03-15 16:18] whit537 commented on #4379
PR in https://github.com/gratipay/gratipay.com/pull/4380.

[2017-03-15 18:22] #4379 closed

[2017-03-15 18:29] #4295 closed

[2017-03-15 18:54] whit537 opened #4382 "Fix deployment"
???

[code]

[2017-03-15 18:57] whit537 commented on #4382
[Current version](https://gratipay.com/version.txt) is 2059. Clearly previous deploy worked earlier today because #3859 is visible.

[2017-03-15 18:57] whit537 commented on #4382
Redeploying, sez "deploying 2060" ...

[2017-03-15 18:58] whit537 commented on #4382
Completed successfully.

¯\_(ツ)_/¯

[code]

[2017-03-15 18:58] #4382 closed

[2017-03-17 15:44] whit537 commented on #4359
This is really slowing me down.

[2017-03-18 05:56] nobodxbodon commented on #4359
Would [host github ribbon on our own](https://github.com/lukaszx0/queues.io/commit/4a8756494888442e8ab10f96b052ab537d806b02) help?

[2017-03-18 10:44] whit537 commented on #4359
I don't think it's the ribbon that is slowing us up, I think it's report-uri.io. Need to confirm though ...

[2017-03-19 13:28] EdOverflow commented on #4354
https://github.com/git/git/commit/e1fae930193b3e8ff02cee936605625f63e1d1e4

[2017-03-20 22:26] EdOverflow commented on #4354
https://github.com/blog/2338-sha-1-collision-detection-on-github-com

[2017-03-21 18:58] EdOverflow opened #4384 "React to LastPass RCE."
Tavis Ormandy is back again with a serious vulnerability, but this time in LastPass: https://bugs.chromium.org/p/project-zero/issues/detail?id=1209

This issue is to thoroughly investigate how this security vulnerability affects Gratipay.

# Summary

Tavis discovered that `1minsignup/chrome/websiteConnector.js` will proxy unauthenticated window messages to the LastPass extension.

[code]

Two line

[2017-03-21 20:57] mattbk opened #4386 "Add total projects to charts on /about/stats"
Old title: "Front page projects should count down, not up."

Rather than last project being number 1, it should be number n, where n is the total number of projects on the tab.

[2017-03-21 21:54] mattbk commented on #4386
https://9-volt.github.io/bug-life/?repo=gratipay/project-review

[2017-03-22 09:16] EdOverflow commented on #4384
Apparently Tavis has found another vulnerability in LastPass: https://twitter.com/taviso/status/844312124541186048

![image](https://cloud.githubusercontent.com/assets/18099289/24190287/86fa3ece-0ee8-11e7-8abb-91e19ef3a1fc.png)

[2017-03-22 15:32] mattbk commented on #4386
Actually, I only want this so we can make a graph of project n milestones...but it should really go at https://gratipay.com/about/stats. Can we add a second (gray?) series behind the green bars for "total projects"?
![image](https://cloud.githubusercontent.com/assets/3729038/24205953/d65f2dc4-0eea-11e7-99cd-dd5062265f17.png)

[2017-03-22 17:15] whit537 commented on #4384
[LastPass's initial response](https://blog.lastpass.com/2017/03/important-security-updates-for-our-users.html/):

[2017-03-22 17:19] whit537 commented on #4386
Active projects is actually more interesting and honest. 😶

[2017-03-22 17:19] whit537 commented on #4386
You can see when I stopped giving 5¢ to new projects. 🙈

[2017-03-22 17:27] mattbk commented on #4386
I agree that active is more interesting, but being able to compare it with total could be more honest.

[2017-03-22 18:53] whit537 commented on #4386
Even more interesting is rate of change.

[2017-03-22 19:02] mattbk commented on #4386
We could plot the derivative of the curve.

[2017-03-23 18:36] whit537 commented on #4324
+1 in private email (from someone at a [top-25](https://en.wikipedia.org/wiki/List_of_largest_Internet_companies) Internet company) :

[2017-03-23 18:44] whit537 commented on #2695
+1 from a representative of a [top-25](https://en.wikipedia.org/wiki/List_of_largest_Internet_companies) Internet company:

[2017-03-23 18:48] whit537 commented on #2571
Folding #4324 into this ...

[2017-03-23 18:48] whit537 commented on #2571
+1 in private email (from someone at a [top-25](https://en.wikipedia.org/wiki/List_of_largest_Internet_companies) Internet company) :

[2017-03-23 18:48] whit537 commented on #4324
Dupe of #2571.

[2017-03-23 18:48] #4324 closed

[2017-03-23 18:56] whit537 commented on #2695
I've commandeered this ticket to be the flight deck for the [Recognize companies](https://github.com/orgs/gratipay/projects/16?fullscreen=true) project. Description duly updated.

[2017-03-23 19:09] whit537 commented on #113
+1 from a representative of a [top-25](https://en.wikipedia.org/wiki/List_of_largest_Internet_companies) Internet company:

[2017-03-23 19:57] rugk commented on #4311
FYI here is a good presentation about [security issues with SVG files](https://www.owasp.org/images/0/03/Mario_Heiderich_OWASP_Sweden_The_image_that_called_me.pdf).

[2017-03-23 20:51] whit537 opened #4389 "Provide metrics to inform distribution"
Libraries.io has introduced a [bus factor](https://libraries.io/bus-factor) metric. The idea on this ticket is to feed this metric (or something like it) into the distribution algorithm we come up with underneath https://github.com/gratipay/inside.gratipay.com/issues/987.

Prompted by this feedback from a representative of a [top-25](https://en.wikipedia.org/wiki/List_of_largest_Internet_companies

[2017-03-23 20:55] whit537 commented on #2521
+1 from a representative of a [top-25](https://en.wikipedia.org/wiki/List_of_largest_Internet_companies) Internet company:

[2017-03-23 22:15] mattbk commented on #2695
!m @whit537

[2017-03-24 14:25] whit537 commented on #4359
The thing is that we *want* to test report uri, but maybe not all the time.

[2017-03-24 14:58] whit537 commented on #4359
But really it's not like we ever want to block page loading on report-uri.com. Is there something wrong with our implementation?

[2017-03-24 15:06] whit537 commented on #4359
Perhaps related to #4322?

[2017-03-24 15:06] whit537 commented on #4322
Why do we have a CSP violation in stock Gratipay?

![screen shot 2017-03-24 at 11 06 05 am](https://cloud.githubusercontent.com/assets/134455/24300167/edae5a34-1081-11e7-99b2-d4faea310637.png)

[2017-03-24 15:13] whit537 commented on #4322
Chrome also recognizes violations. Presumably their implementation precludes blocking on same.

![screen shot 2017-03-24 at 11 12 34 am](https://cloud.githubusercontent.com/assets/134455/24300428/cd8c3522-1082-11e7-8c38-ad8de8dc780d.png)

[2017-03-24 15:23] EdOverflow commented on #4322
The `upgrade-insecure-requests` directive is ignored when sent via a `Content-Security-Policy-Report-Only` header: https://www.w3.org/TR/upgrade-insecure-requests/#delivery

The `reflected-xss` directive has been deprecated in Chrome 56+: https://www.chromestatus.com/feature/5769374145183744

[code]

[2017-03-24 15:24] whit537 commented on #4322
Ah! So *that's* what @nobodxbodon was [on about](https://github.com/gratipay/gratipay.com/issues/4359#issuecomment-287519144). :D

[2017-03-24 15:25] EdOverflow commented on #4322
Yep. We must remove the inline style attribute from the GitHub banner.

[2017-03-24 15:33] whit537 commented on #4322
Okay, I did that and the CSP error is gone, but FF is still spinning, and any other request even from another browser also blocks until I cancel the FF request. :thinking:

![screen shot 2017-03-24 at 11 32 33 am](https://cloud.githubusercontent.com/assets/134455/24301309/aed769a0-1085-11e7-8e3c-b736ca0bff4d.png)

[2017-03-24 15:38] EdOverflow commented on #4322
Whoops!

[code]
Link to source code: https://github.com/gratipay/gratipay.com/blob/master/gratipay/security/__init__.py#L56-L57

[Source]: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/upgrade-insecure-requests

[2017-03-24 15:41] whit537 commented on #4322
Yeah, okay. I was just dialing in on `upgrade-insecure-requests` as the culprit.

[2017-03-24 15:41] whit537 commented on #4322
Whittled down to the base page + one asset which should've been 404 but was still triggering tailspin.

![screen shot 2017-03-24 at 11 41 16 am](https://cloud.githubusercontent.com/assets/134455/24301781/dd5e8636-1086-11e7-87f7-1a415d9c71f5.png)

[2017-03-24 15:41] whit537 commented on #4322
Okay! Root cause! Fix?

[2017-03-24 15:43] EdOverflow commented on #4322
PR on the way!

[2017-03-24 15:44] whit537 commented on #4322
@EdOverflow Beat ya to it? https://github.com/gratipay/gratipay.com/pull/4390 😁

[2017-03-24 15:50] EdOverflow commented on #4384
Article: [LastPass: Security done wrong](https://palant.de/2017/03/23/lastpass-security-done-wrong)

[2017-03-24 18:17] whit537 commented on #4359
Looks like in #4390 this is not due to the CSP violation from the GitHub ribbon. That actually makes sense, since that was affecting Firefox only, and we use PhantomJS (WebKit ~= Chrome) at Travis.

[2017-03-24 18:19] whit537 commented on #4359
I usually run the ttw tests locally using Chrome. Can I repro w/ PhantomJS?

[2017-03-24 18:21] whit537 commented on #4359
Hmm ... different than hang. :thinking:

[code]

[2017-03-24 18:21] whit537 commented on #4359
[code]

[Latest](http://phantomjs.org/).

[2017-03-24 18:29] whit537 commented on #4359
Moving to a PR in #4391 ...

[2017-03-25 00:20] clone1018 commented on #4315
I'm for removing them, not sure the value of the numbers. https://github.com/gratipay/gratipay.com/pull/4392

[2017-03-29 08:01] whit537 opened #4393 "Confirmation emails not being sent!?"
Reported by @dguido [on Twitter](https://twitter.com/dguido/status/846893365677346817).

[2017-03-29 08:07] whit537 commented on #4393
I will look at this in a few hours if someone else doesn't get to it first. :)

[2017-03-29 08:08] whit537 commented on #4393
cc: @rohitpaulk?

[2017-03-29 11:05] whit537 opened #4394 "Float "Fund Your Project" button as on homepage"
# Homepage

![screen shot 2017-03-29 at 7 05 18 am](https://cloud.githubusercontent.com/assets/134455/24451760/14acaaf8-144e-11e7-961b-7a62f10cdb70.png)

# Profile

![screen shot 2017-03-29 at 7 04 25 am](https://cloud.githubusercontent.com/assets/134455/24451732/0399ab08-144e-11e7-8260-0aa251a6eebf.png)

[2017-03-29 11:08] whit537 commented on #4393
I added an email and am not seeing the verification message. What's in the queue?

[2017-03-29 11:08] whit537 commented on #4393
40 messages, mostly verifications. 😞

[2017-03-29 11:09] whit537 commented on #4393
So we're not flushing the queue? Is the flusher not running, or failing? Or ... ?

[2017-03-29 11:11] whit537 commented on #4393
Let's check the logs ...

[2017-03-29 11:15] whit537 commented on #4393
Okay, I think we got clogged up by bad data from a security researcher. I saw this come through on Sentry the other day ...

[code]

[2017-03-29 11:16] whit537 commented on #4393
https://sentry.io/gratipay/gratipay-com/issues/242242031/

[2017-03-29 11:17] whit537 commented on #4393
![screen shot 2017-03-29 at 7 17 00 am](https://cloud.githubusercontent.com/assets/134455/24452120/bc099e18-144f-11e7-894c-b51f8dc861a3.png)

[2017-03-29 11:18] whit537 commented on #4393
So the workaround is to remove that message from the queue. It should correct itself automatically.

Root cause fix is to automatically remove messages from the queue given certain error conditions.

[2017-03-29 11:19] whit537 commented on #4393
Are we okay sending old verifications, though?

[2017-03-29 11:28] whit537 commented on #4393
Can we resend new verifications for those affected? The team approval notices can go through as-is.

[2017-03-29 11:29] whit537 commented on #4393
Or at least reset `verification_start` and dedupe?

[2017-03-29 11:29] rohitpaulk commented on #4393
I think that makes sense.

[2017-03-29 11:34] whit537 commented on #4393
Alright, so the procedure is:

1. Extract addresses from verification messages in `email_queue`.
1. Remove duplicate verifications from `email_queue`.
1. Reset `emails.verification_start` for affected addresses.
1. Remove the verifications with bad addresses.
1. Get a PR together for root cause fix.

Ya?

[2017-03-29 11:45] whit537 commented on #4393
I've dumped the queue with:

[code]

Then `grep verification queue.csv > verifications.csv` and hand-edited the latter to only have `email_queue.id` and an email address. Now deduping ...

[2017-03-29 11:53] whit537 commented on #4393
[code]

http://www.postgresonline.com/journal/archives/228-PostgreSQL-Array-The-ANY-and-Contains-trick.html

[code]

[2017-03-29 11:57] whit537 commented on #4393
[code]

[2017-03-29 12:00] whit537 commented on #4393
(3):

[code]

[2017-03-29 12:04] whit537 commented on #4393
Starting with:

[code]

[2017-03-29 12:10] whit537 commented on #4393
[code]

[code]

[2017-03-29 12:11] whit537 commented on #4393
I think I'm also going to send a message from support@ to those affected.

[2017-03-29 12:16] whit537 commented on #4393
Freshdesk doesn't allow bcc's, so we'll have to send individually.

[2017-03-29 12:17] whit537 commented on #4393
Prepped:

[2017-03-29 12:22] whit537 commented on #4393
Revised:

[2017-03-29 12:23] whit537 commented on #4393
Saved temporarily as a canned response for easier sending.

[2017-03-29 12:24] whit537 commented on #4393
Okay! Ready to pull the plug out?

[2017-03-29 12:25] whit537 commented on #4393
[code]

[2017-03-29 12:26] whit537 commented on #4393
[code]

[2017-03-29 12:30] whit537 commented on #4393
Sentry issue resolved. Sending follow-ups ...

[2017-03-29 12:41] whit537 commented on #4393
Okay! Follow-ups sent and received, here at least. :-)

![screen shot 2017-03-29 at 8 31 13 am](https://cloud.githubusercontent.com/assets/134455/24454497/1b3a19b2-145a-11e7-9d4c-35ba5f369f01.png)

[2017-03-29 12:42] whit537 commented on #4393
PR for root cause fix in a bit ...

[2017-03-29 13:18] whit537 commented on #4393
PR in https://github.com/gratipay/gratipay.com/pull/4395.

[2017-03-30 06:31] #4359 closed

[2017-03-30 15:41] whit537 commented on #4362
Calling this done in #4391. 🙈

[2017-03-30 15:41] #4362 closed

[2017-03-31 14:43] EdOverflow commented on #1052
I found the solution to this issue: https://youtu.be/VgC4b9K-gYU

[2017-03-31 18:17] whit537 commented on #2571
+1 from @bcomnes in [slack](https://gratipay.slackarchive.io/gratipay/page-81/ts-1490982844201937).

[2017-03-31 18:23] whit537 commented on #113
+3 from https://github.com/gratipay/gratipay.com/issues/2401 (dupe).

[2017-03-31 18:23] whit537 commented on #2401
Folding this into https://github.com/gratipay/gratipay.com/issues/113.

[2017-03-31 18:23] #2401 closed

[2017-03-31 18:23] whit537 commented on #4315
Done in #4392!

[2017-03-31 18:23] #4315 closed

[2017-03-31 18:24] whit537 commented on #2571
Seems like this is related to adding funds at any time (#113).

[2017-03-31 18:41] bcomnes commented on #2571
Or possibly drawing funds from a project as a member at any time.  Maybe I'm still stuck in thinking in terms of bank accounts though.

[2017-04-05 04:39] techtonik commented on #2695
@whit537 how to apply for Google funding? bugs.python.org/Roundup needs a lot of work.

[2017-04-05 04:40] techtonik commented on #2695
For companies I would also provide a rating of how many of its employees are supporting open source by giving them API to donate through their company, but with their name.

[2017-04-06 14:04] mattbk commented on #3727
Also, "We have money for you, but can't payout because you have no route set up."

[2017-04-06 15:50] mattbk commented on #3727
I guess it should be opt-in like other emails, e.g.,

![image](https://cloud.githubusercontent.com/assets/3729038/24763390/d5ed79c2-1ab6-11e7-92b4-1900935d25b0.png)

[2017-04-06 16:39] mattbk opened #4399 ""Export as CSV" link on ~user History yields blank CSV file"
https://gratipay.com/about/me/history/

![image](https://cloud.githubusercontent.com/assets/3729038/24765504/ae0c8afe-1abd-11e7-9033-3c2c81166c75.png)

[2017-04-06 16:57] EdOverflow commented on #4399
Just out of interest, what is exported to a CSV file? Is it only the amount or are recipient names included?

[2017-04-06 17:37] mattbk commented on #4399
https://github.com/gratipay/gratipay.com/blob/4b5b0b3e287424a3e5b4179d49eddac44064f7e4/www/~/%25username/history/export.spt

Looks like
`participant, year, mode`

[2017-04-06 18:27] EdOverflow commented on #4399
HackerOne report on its way...

[2017-04-06 19:24] whit537 commented on #4195
Reopening because we're getting ready to get to it, but I'm not ready to make a PR yet. ☺️

[2017-04-07 18:31] mattbk commented on #557
Is there an example I can look at for how to send an email?

I see that the templates are in https://github.com/gratipay/gratipay.com/tree/4b5b0b3e287424a3e5b4179d49eddac44064f7e4/emails.

[2017-04-07 19:13] whit537 commented on #557
Search for `app.email_queue.put`.

[2017-04-08 15:23] enricduran opened #4402 "Add faircoin to gratipay"
Could be great that gratipay integrate faircoin as a way do contribute to open source projects without the fees intermaditions of card systesm,
Faircoin is supported by a broad cooperative movement and is aligned with the values of gratipay.

We could support the integration with the tech community of faircoin and faircoop.

[2017-04-09 09:06] EdOverflow commented on #4399
The report can be found here: https://hackerone.com/reports/219323

[2017-04-10 13:35] whit537 commented on #4402
Thanks for joining us here, @enricduran! As a matter of regulatory compliance, we can only work with "clearance and settlement systems that admit only BSA-regulated institutions." What is faircoin's regulatory standing?

[2017-04-10 14:46] mattbk opened #4403 "Add social call to action when tip is set"
As seen on many other sites. After clicking "save" on amount, we have an alert ribbon. Could include populated tweet and FB post links there.

![image](https://cloud.githubusercontent.com/assets/3729038/24867338/7f7b9816-1dd2-11e7-8467-40e8add43745.png)

[2017-04-10 15:46] whit537 commented on #4403
This may be a dupe, fwiw.

[2017-04-10 21:31] mattbk commented on #4403
Will look.

[2017-04-11 01:33] enricduran commented on #4402
Thanks for your answer. Faircoin is from the same family than Bitcoin, therefore participate of the same regulatory framework. You can see for example a regulatory guide for Bitcoin in NA here:  https://blog.identitymindglobal.com/general/bitcoin-regulation-address-anti-money-laundering-compliance

[2017-04-11 11:46] whit537 commented on #4402
Is there something like Coinbase for Faircoin?

[2017-04-11 14:20] EdOverflow commented on #4262
https://gratipay.slackarchive.io/gratipay/page-55/ts-1486065489005059

[2017-04-12 13:57] whit537 commented on #4402
There are two sides to this, payin and payout. For both we would need to consult with a lawyer first to understand the regulatory implications better. Which did you have in mind? One or the other or both?

For payin we'd need to land #1165 first unless we're going to convert faircoin to USD on the fly. #1165 is a ways off, it's a big project and not a priority for us right now (here's our [roadmap

[2017-04-12 17:04] #557 closed

[2017-04-13 15:42] whit537 opened #4408 "Prune expired email verifications"
@dowski points out at https://github.com/gratipay/gratipay.com/pull/4335#discussion_r111307971 that we might consider regularly pruning expired email verifications (and, by extension, package claims).

[code]

[2017-04-13 19:01] whit537 commented on #1022
Seeing this from Venmo:

[2017-04-14 08:44] rohitpaulk commented on #4408
Interesting

[2017-04-14 10:20] whit537 commented on #4408
Maybe after 30 days so we have them around for a while for debugging if need be?

[2017-04-15 11:36] EdOverflow opened #4409 "crypto.py review"
I have been looking at `crypto.py` and have noted a couple of things.

## 1) Constant time comparison

Why do we not just use `hmac.compare_digest()` for `constant_time_compare()`?

[code]

## 2) Encoding

Why do we not encode the string?

[code]

[2017-04-17 11:10] #4375 closed

[2017-04-17 11:12] EdOverflow commented on #4263
[Re:](https://github.com/gratipay/gratipay.com/issues/4263#issuecomment-269765180) Actually I would like to use the repository's Wiki to allow everyone to contribute to the development. @whit537 Would it be possible to allow me to edit Gratipay's GitHub Wiki?

[2017-04-17 15:02] whit537 commented on #4409
1) Didn't know about `compare_digest`, looks suitable. Our `crypto.py` is descended from Django. Happy to swap that code out.

2) I don't know. :) Why would we want to?

[2017-04-17 15:16] EdOverflow commented on #4409
I will submit a PR.

For some reason, I assumed we were feeding it with bytes. ¯\\\_(ツ)_\/¯

[2017-04-18 13:47] whit537 commented on #4263
Can we use Inside Gratipay to avoid multiple sources of truth?

http://inside.gratipay.com/howto/manage-risk

[2017-04-19 12:26] whit537 commented on #4336
https://medium.design/logos-and-brand-guidelines-f1a01a733592?gi=4d2cf265adb2

[2017-04-20 19:37] rohitpaulk commented on #9
I think the current script (at least the way I run it) could do with a bit of automation. I'm keeping this open and assigning to myself - will try to add stuff here every payday as I try to automate more and more of payday

[2017-04-21 08:32] EdOverflow commented on #4384
And just to add fuel to the fire: http://www.martinvigo.com/design-flaws-lastpass-2fa-implementation/

[2017-04-21 18:50] whit537 opened #4413 "Unfrobulate Travis"
Travis builds have started failing for reasons seemingly unrelated to any PR. f9a9fccc82c830937d402469aca80906e7e01ffb on #4397 was split one green one red, I re-ran the green and now it's red. I've rerun 89c5789fc1a69eb6aac6c993b41fbf681b8150cb on #4411 several times and it's coming up red. It passes locally. It's in the ttw tests. Something wrong with our recently added (#4391) Firefox?

-------

[2017-04-21 19:50] whit537 commented on #4413
Some cache or other get poisoned?

[2017-04-21 19:55] whit537 commented on #4413
Different version of something? Firefox? Webdriver? Selenium?

[2017-04-21 19:57] whit537 commented on #4413
Does it happen from master? #4414 ...

[2017-04-21 19:57] whit537 commented on #4413
Closing in favor of ^^^.

[2017-04-21 19:57] #4413 closed

[2017-04-21 21:07] whit537 opened #4415 "Robustify custom select"
I made a custom select widget under https://github.com/gratipay/gratipay.com/pull/4305. There's work yet to be done on it to make it behave like a proper select.

- [ ] scroll widget into view when activated at edge of viewport
- [ ] arrow keys
- [ ] type to find
- [ ] scroll in touch - // http://stackoverflow.com/a/10803068
- [ ] ensure responsivity
- [ ] cross-browserize
- [ ] check on a phone,

[2017-04-21 21:15] whit537 opened #4416 "Bulk-add from `/on/npm/` based on verified email addresses"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4305.

API should mostly be there.

[2017-04-21 21:15] whit537 opened #4417 "Add packages to fake data"
Reticketed from #4305.

[2017-04-21 22:33] deivid-rodriguez commented on #4368
@mattbk I tried to contact Greg myself, let's see.

[2017-04-21 23:21] whit537 opened #4418 "Audit cursor usage for concurrency bugs"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4397#discussion_r112209778.

Grep for `get_cursor` and read it all.

[2017-04-22 08:49] B3nac opened #4419 "IMG SRC tag after ~usr/ causing odd redirection behavior."
When I put the following xss payload after the user directory:

https://gratipay.com/~B3nac/IMG%20SRC=jAVasCrIPt:alert(%E2%80%98XSS%E2%80%99)

Gratiplay doesn't redirect properly and adds a lot of ~ before the username like so.

![url](https://cloud.githubusercontent.com/assets/7663357/25302841/2da653d6-26fc-11e7-9f30-45a4313f4bde.png)

I stumbled upon this while testing for DOM XSS in the stateme

[2017-04-22 09:34] whit537 commented on #4419
Thanks @B3nac. There's a function to redirect `/foo/` to `/~foo/` and that's probably wha'ts getting confused.

[2017-04-22 09:36] whit537 commented on #4419
[`use_tildes_for_participants `](https://github.com/gratipay/gratipay.com/blob/2070/gratipay/utils/__init__.py#L50)

[2017-04-22 15:09] rohitpaulk opened #4420 "Marking a user as suspicious doesn't update 'giving' value on teams"
- User `Alice` gives $10 to team `EvilCorp`
- User `Alice` gets marked as suspicious

**Expected:**
`EvilCorp`'s value for `receiving` must reduce by $10

**Actual**
`EvilCorp`'s value for `receiving` stays the same

[2017-04-22 16:24] EdOverflow commented on #4420
![](https://media.giphy.com/media/p2Odpzf87PSkU/giphy.gif)

Sorry, I had to.

[2017-04-24 11:35] EdOverflow commented on #4263
OK, that sounds like a compromise. :)

[2017-04-24 14:37] whit537 commented on #4418
On #4397, `SELECT ... FOR UPDATE` turned out to be a pretty good pattern for synchronizing inside Postgres.

[2017-04-24 17:55] whit537 commented on #4393
Finally deploying https://github.com/gratipay/gratipay.com/pull/4395 after getting bit by this again. I have a list of emails to apologize to after we flush the queue.

[2017-04-24 17:59] whit537 commented on #4393
https://github.com/gratipay/gratipay.com/pull/4395 deployed.

[2017-04-24 18:00] whit537 commented on #4393
[code]

[2017-04-24 18:02] whit537 commented on #4393
[code]

[2017-04-24 18:06] whit537 commented on #4393
Mail received. 👍

![screen shot 2017-04-24 at 2 06 03 pm](https://cloud.githubusercontent.com/assets/134455/25351624/2f94623a-28f7-11e7-9242-0018f7b934dd.png)

[2017-04-24 18:06] whit537 commented on #4393
Three failures are in Sentry at: https://sentry.io/gratipay/gratipay-com/issues/259220081/. Marking previous as resolved.

[2017-04-24 18:07] whit537 commented on #4393
Now for apologies ...

[2017-04-24 18:26] whit537 commented on #4393
2 down, 55 to go ...

[2017-04-24 18:53] whit537 commented on #4393
Done. Sent 53. Three were the failures that clogged us up in the first (well, second ;) place, the fourth was @mattbk as at https://github.com/gratipay/gratipay.com/pull/4395#issuecomment-296747169.

Closing!

[2017-04-24 18:53] #4393 closed

[2017-04-24 21:32] whit537 opened #4421 "Do away with lazy imports"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4398#discussion_r112596524.

[2017-04-26 15:44] whit537 opened #4425 "Notify other maintainers on package claim"
Reticketed from #4305.

[2017-04-26 15:45] whit537 opened #4426 "Show open claims to participant"
Reticketed from #4305.

Three places:

- [ ] when they visit a package page where they've started but not finished a claim
- [ ] on the profile page, in the project listing
- [ ] on their email settings page (cf. UI changes in https://github.com/gratipay/gratipay.com/pull/4579)

[2017-04-27 14:50] gregbell commented on #4368
Hi Everybody. I've closed the personal ~activeadmin account. Should be good to manage it however you like now. Let me know if you need anything else in regards to this manner.

[2017-04-27 14:54] deivid-rodriguez commented on #4368
Thanks @gregbell and sorry for bothering you :heart: .

Closing!

[2017-04-27 14:54] #4368 closed

[2017-04-27 15:52] #4409 closed

[2017-04-27 16:17] whit537 opened #4427 "✈️ Give to package.json"
-------------------------------

✈️  **This is the flight deck for the [Give to package.json](https://github.com/orgs/gratipay/projects/14?fullscreen=true) project.** ✈️

-------------------------------

🗻  **That project is part of the [Make it easier for companies to fund open source](https://github.com/gratipay/inside.gratipay.com/issues/987) epic.** 🗻

-------------------------------

The defi

[2017-04-27 17:05] whit537 commented on #4409
Ftr PR was https://github.com/gratipay/gratipay.com/pull/4412.

[2017-04-27 19:10] whit537 opened #4429 "Don't show "add email" notification while claiming package"
It's distracting, because they are in the process of adding an email!

![screen shot 2017-04-27 at 3 09 27 pm](https://cloud.githubusercontent.com/assets/134455/25500107/b3276c44-2b5b-11e7-8486-2a9fb0fb19b4.png)

[2017-04-27 19:17] whit537 commented on #4429
It's also on the verification success page?!

![screen shot 2017-04-27 at 3 16 54 pm](https://cloud.githubusercontent.com/assets/134455/25500326/9dd0e00e-2b5c-11e7-995b-58a9f5dcfbad.png)

[2017-04-27 19:47] whit537 commented on #4427
https://github.com/gratipay/gratipay.com/pull/4305 is awesome ... but how does one get to a package page in the first place? Search? Browse? Edit URL? Eventually #4416 will be a nice way to get there based on email, but even then we'll still a way to get to a particular package based on its name as well.

[2017-04-27 20:13] whit537 opened #4430 "Send email with link to review ticket"
When someone claims packages or otherwise applies for a project, they should get an email with a link to the review ticket. It shouldn't just be in the web page and then disappear.

[2017-04-27 20:16] whit537 opened #4431 "Improve the verify landing page"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4428. Right now it's an ugly mess. 😞

[2017-04-27 20:17] whit537 commented on #4427
Kicking out a bunch of new tickets in Takeoff. Need to stay focused on #4305.

[2017-04-28 17:37] whit537 opened #4434 "Include npm packages in search results"
They should appear under projects.

[2017-04-28 17:38] whit537 commented on #4417
Moving to a PR in https://github.com/gratipay/gratipay.com/pull/4433.

[2017-04-28 17:38] #4417 closed

[2017-04-28 20:59] whit537 opened #4437 "Bug in revive allows one participant to get another's paypal?"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4428. Get into the revive test and code. I don't think we scope sufficiently to the participant.

[2017-04-28 21:06] whit537 commented on #4427
Alright, #4305 is topped up, consolidated w/ three remaining pretty manageable PRs.

Looking beyond that, we need to get syncing going again. That's a pre-req and a not insignificant one, though we had some implementation of that before and there's code around somewhere towards it. I guess that's the primary focus next week.

Once syncing is out and we deploy #4305, there are a few directions we c

[2017-05-01 20:58] whit537 commented on #4384
We've migrated away from LastPass to 1Password: https://github.com/gratipay/inside.gratipay.com/issues/175.

[2017-05-01 20:58] #4384 closed

[2017-05-01 21:04] whit537 commented on #236
+1 from @ntnsndr at https://social.coop/@ntnsndr/17510.

[2017-05-01 21:27] whit537 commented on #4339
+1 from @ntnsndr at https://social.coop/@ntnsndr/17510.

(I don't know how to respond [remotely?] via Mastodon or I would.)

[2017-05-01 21:57] mattbk commented on #4339
The "Open in web" link at the bottom takes you to the Mastodon interface if you're logged in, then you can reply.

[2017-05-02 00:54] ntnsndr commented on #236
Yes please! We need this to use Gratipay as the basis for co-ops.

∴
Nathan Schneider
nathanschneider.info

On May 1, 2017 3:04:27 PM MDT, Chad Whitacre <notifications@github.com> wrote:

[2017-05-02 01:00] ntnsndr commented on #236
And pseudonymous would be okay!

Let's think.about features that.could even do more to make gratipay the go-to tool for new co-ops.

- accounting tools
- github integration for open contributions
- legal structure support, payroll

∴
Nathan Schneider
nathanschneider.info

On May 1, 2017 3:04:27 PM MDT, Chad Whitacre <notifications@github.com> wrote:

[2017-05-02 02:45] ntnsndr commented on #4339
I would be very glad to see this. Since OC seems to be hitting that membership/expense niche well, in certain ways, it'd be great to think of ways that Gratipay can do even more. Some ideas:

- More sophisticated membership management
- Other legal support structure options
- Decision-making tools or integration with other ones
- GitHub/Lab integration

For the social.coop project, I'm not sure ho

[2017-05-02 12:46] whit537 commented on #4427
Alright, scope clarified. This is about the "Give us $10,000 and a package.json" MVP. What's left for that is syncing, and then pledging (https://github.com/gratipay/gratipay.com/issues/4195), and then a UI for uploading a package.json like we had started looking at in #4135. How far can we get this week?

[2017-05-02 22:48] rohitpaulk commented on #3871
I'm not sure what should be done here - should we change the URL automatically? Maybe we should make it configurable?

[2017-05-02 23:09] rohitpaulk commented on #3871
Dupe of #4373, looks like. Closing. @Sirjazzfeet I've added a +1 for you on #4373

[2017-05-02 23:09] rohitpaulk commented on #4373
+1 from @Sirjazzfeet on https://github.com/gratipay/gratipay.com/issues/3871#issuecomment-219606247

[2017-05-02 23:09] #3871 closed

[2017-05-03 00:38] whit537 commented on #4339
Our current focus is on tapping into corporate wealth for open source projects via aggregation (deep dive on https://github.com/gratipay/inside.gratipay.com/issues/987; hopefully a first announcement will hit the [blog](https://gratipay.news/) in a few weeks). We think there's room for innovation there, and that this also gets at a deeper issue: no matter how good an expensing implementation might

[2017-05-03 08:52] whit537 commented on #4427
I'm reading through our existing npm syncing code and retracing why we turned it off (we turned it off, didn't we?) and thinking through how to turn it back on.

[2017-05-03 09:09] whit537 commented on #4427
I'm finding an initial attempt at https://github.com/gratipay/gratipay.com/issues/4148#issuecomment-259559478 (same thread as our [tech debt discussion](https://github.com/gratipay/gratipay.com/issues/4148#issuecomment-264540868), btw).

[2017-05-03 09:44] whit537 commented on #4427
Alright, the way I'm reading https://github.com/gratipay/gratipay.com/issues/4148 (and jogging my memory) is that the initial plan of running a worker dyno to continually update from npm did not work out because it was too buggy. So I [gave up](https://github.com/gratipay/gratipay.com/issues/4148#issuecomment-256541272) on running the syncer continuously and instead focused on getting it to run on

[2017-05-03 10:07] whit537 commented on #4427
Moving to PR in https://github.com/gratipay/gratipay.com/pull/4438 ...

[2017-05-03 13:52] whit537 opened #4440 "Upgrade Postgres"
We are currently on 9.3 in production, and I'd like to use [UPSERT from 9.5](https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.5#INSERT_..._ON_CONFLICT_DO_NOTHING.2FUPDATE_.28.22UPSERT.22.29) over in https://github.com/gratipay/gratipay.com/pull/4438.

Upgrade docs: https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases

[2017-05-03 14:38] mattbk opened #4441 "Renew TLS certificates at Let's Encrypt"
Expire on May 11.

https://gratipay.freshdesk.com/helpdesk/tickets/8237
https://gratipay.freshdesk.com/helpdesk/tickets/8250
https://gratipay.freshdesk.com/helpdesk/tickets/8252

[2017-05-03 15:12] rohitpaulk commented on #4399
The problem here is that the new Gratipay 2.x changes haven't been carried over properly - we're only considering `transfers` (Gratipay 1.0), not `payments` (Gratipay 2.x)

[2017-05-03 15:20] rohitpaulk commented on #4399
Might need a few changes in the JSON structure - `tipper`/`tippee` isn't valid terminology anymore.

![screen shot 2017-05-03 at 8 49 14 pm](https://cloud.githubusercontent.com/assets/3893573/25667730/05111114-3042-11e7-942e-d281825ee454.png)

[2017-05-03 15:22] rohitpaulk commented on #4399
Also, `aggregate` is the only `mode` used, although we support output of individual exchanges and transfers if the parameter isn't supplied. Looks like an undocumented feature, I don't think it is worth maintaining as of now.

[2017-05-03 16:34] whit537 commented on #4440
Backup started.

[2017-05-03 16:35] whit537 commented on #4440
Following https://devcenter.heroku.com/articles/upgrading-heroku-postgres-databases#upgrade-with-pg-copy-default.

[2017-05-03 16:43] whit537 commented on #4440
Alright, db provisioned. Remaining procedure is:

- `heroku maintenance:on`
- `heroku pg:copy DATABASE_URL HEROKU_POSTGRESQL_ORANGE_URL`
- `heroku pg:promote HEROKU_POSTGRESQL_ORANGE_URL`
- `heroku maintenance:off`

[2017-05-03 16:45] whit537 commented on #4440
Maintenance on and copy initiated. Should take about seven minutes.

Also: https://twitter.com/Gratipay/status/859810822658379776.

[2017-05-03 16:46] whit537 commented on #4440
Or not! Done copying, proceeding ...

[2017-05-03 16:47] whit537 commented on #4440
[code]

![screen shot 2017-05-03 at 12 46 51 pm](https://cloud.githubusercontent.com/assets/134455/25671596/9912719e-2ffe-11e7-9414-56fa6478553c.png)

[2017-05-03 16:47] whit537 commented on #4440
App looks okay.

Interesting that we dropped from 2.3 GB to 495 MB. I guess we should be VACUUMing or something?

[2017-05-03 16:48] whit537 commented on #4440
Confirmed 9.6.2. 👍

[code]

[2017-05-03 16:48] #4440 closed

[2017-05-03 16:53] whit537 commented on #4440
Old db removed.

[2017-05-03 18:27] whit537 commented on #4441
This is on my radar to get done this week before I leave for https://github.com/gratipay/inside.gratipay.com/issues/948. Probably tomorrow?

[2017-05-03 18:33] rohitpaulk commented on #4274
Fixing in #4439

[2017-05-03 19:30] rohitpaulk commented on #3509
We changed email in the development environment to print to console, so I think this can be closed.

[2017-05-03 19:31] #3509 closed

[2017-05-03 19:41] rohitpaulk commented on #3852
Removing for now, focusing on bugs

[2017-05-03 21:20] kaguillera opened #4442 "Clean up exchanges"
-------------------------------

✈️  **This is the flight deck for the [Clean up exchanges](https://github.com/orgs/gratipay/projects/20?fullscreen=true) project.** ✈️

-------------------------------

Due to bad schema design we have missing values for some fields in our `exchanges` and `exchange_routes` tables. We use either `unknown` or `NULL` to represent this missing info (we started using `u

[2017-05-04 00:45] kaguillera commented on #4442
Thus the routes (network) for this first set of records should be samurai

[2017-05-04 11:07] whit537 commented on #4441
Can we work on this together on Monday, @clone1018? You okay with punting until then?

[2017-05-04 11:07] whit537 commented on #4442
Ref: .https://github.com/gratipay/gratipay.com/pull/3912

[2017-05-04 14:27] whit537 opened #4443 "bring back db connection logging"
Seem to have lost this with #4440?

http://inside.gratipay.com/appendices/health

![screen shot 2017-05-04 at 10 26 22 am](https://cloud.githubusercontent.com/assets/134455/25708346/35930e24-30b4-11e7-8c97-e994f808dc4b.png)

[2017-05-04 14:41] whit537 commented on #4443
Back. I had to update the source on the instrument from `production.heroku_postgres_maroon` to `production.database`.

[2017-05-04 14:41] #4443 closed

[2017-05-04 14:44] mattbk commented on #4274
#4439 is merged, close?

[2017-05-04 16:06] rohitpaulk commented on #4274
Yep

[2017-05-04 16:06] #4274 closed

[2017-05-04 17:50] kaguillera commented on #4442
The exchange records for payday 0, payday 1 and payday 2 run on 2012-06-01, 2012-06-08 and 2012-06-15 respectively. There is just one record that is out of place.
I am thinking that for those initial 16 exchanges and 13 exchange_route we can manually update them. We know that the network is Samurai...but what do we put for the address and ref? Do we have any way of getting it or should be generate

[2017-05-04 19:37] kaguillera commented on #4442
For the Stripe exchanges
exchanges.route = exchange_routes.id
exchanges.status = stripe transaction status
exchanges.ref = transaction_id from stripe (e.g. `ch_7h*********cP`)

exchange_routes.network = stripe
exhcange_routes.address = stripe customer_id (e.g. `cus_1d3*********4z`)

Were have all of the necessary information in the logs directory under misc/3912/year/month/stripe.
So what went wro

[2017-05-04 19:43] kaguillera commented on #4442
in the `exchange_routes` table I have there are not `stripe` network value is it possible that all the `unknown` values are actually `stripe` exchange_routes?

[2017-05-04 20:05] kaguillera commented on #4442
Turns out that the `unknown` could also be `samurai` but why is this happening.

[2017-05-04 20:17] kaguillera commented on #4442
And also `balanced-ba` exchange_route. what went wrong. Time to check the code I guess.

[2017-05-04 21:45] whit537 commented on #4427
Alright, we're out of time to deploy npm claiming (#4305) this week. I [fly out](https://github.com/gratipay/inside.gratipay.com/issues/948) in 18 hours and then go straight into a weekend conference. It's too risky to try to deploy #4305 before then. I'd be fine to deploy npm syncing (#4438), though. I'm going to try to get that ready for review in the next few hours.

@dowski @rohitpaulk If eith

[2017-05-05 11:32] rohitpaulk opened #4445 "Contact Travis CI about upgrading Postgres to 9.6.2"
Reticketed from https://github.com/gratipay/gratipay.com/pull/4438#issuecomment-299441124

[2017-05-05 12:03] whit537 commented on #4445
Sent.

Subject: upgrade Postgres add-on to 9.6.2?

Thanks! :-)

[2017-05-05 14:22] rohitpaulk opened #4446 "Add a check in deploy.sh for environment variables"
When deploying #4438, I forgot to add the `CHECK_NPM_SYNC_EVERY` env var, and gratipay.com was down for around 3 minutes until I figured out what was wrong and fix it.

We should be able to detect this before deploying by adding a check to `deploy.sh`

[2017-05-05 14:27] whit537 commented on #4446
I really thought we already had a check for that. :thinking:

[2017-05-05 14:48] rohitpaulk commented on #4191
Again...

![screen shot 2017-05-05 at 4 58 00 pm](https://cloud.githubusercontent.com/assets/3893573/25750655/f9e12286-31cf-11e7-875b-7a74a3d60c2e.png)

[2017-05-05 17:48] whit537 commented on #4445
Heard back from @meatballhat. :-)

[2017-05-05 18:15] whit537 commented on #4191
@EdOverflow has looked into tooling to help us stay up to date with (Python) deps. Have those tickets handy, @EdOverflow?

[2017-05-05 18:48] mattbk commented on #4399
Fixed in #4439.

[2017-05-05 18:48] #4399 closed

[2017-05-06 10:06] rohitpaulk commented on #3471
I'm seeing a few differences - one is that the production database has a table called 'affected'. Looks like this was used for sending a temporary email or so? Checking issues..

[2017-05-06 10:08] rohitpaulk commented on #3471
Hmm, doesn't look like it was under https://github.com/gratipay/gratipay.com/issues/4393

[2017-05-06 10:10] rohitpaulk commented on #3471
I don't see any code anywhere that uses it, going to delete.

[2017-05-06 10:10] rohitpaulk commented on #3471
Deleted.

[2017-05-06 10:45] rohitpaulk commented on #3471
One more: `payday_subscriptions` is present on production, but not local. I don't see code that uses it either, maybe part of the old payday script?

[2017-05-06 10:48] rohitpaulk commented on #3471
Yep, removed in https://github.com/gratipay/gratipay.com/commit/151bda0a2855715d46ab246fbad35b57b35b1b49.

I'm deleting the table on production

[2017-05-06 11:05] rohitpaulk commented on #3471
![schema](https://cloud.githubusercontent.com/assets/3893573/25771817/f11645d2-3279-11e7-8664-370356ec75cf.png)

One old function lying around from when we were using usernames instead of IDs. I didn't know that Postgres supported functions with the same name but different signatures...

[2017-05-06 21:15] rohitpaulk commented on #3471
Down to a single statement now:

![screen shot 2017-05-07 at 2 44 48 am](https://cloud.githubusercontent.com/assets/3893573/25775961/345804fc-32cf-11e7-9136-0f713d023f12.png)

[2017-05-06 21:34] rohitpaulk commented on #3471
^ Fixed that by adding `--no-privileges` when calling `pg_dump`